.instrument-label {
    margin-bottom: 0px;
}

h1 {
    font-size: 28px;
}

body {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.title {
    text-align: center;
    margin-bottom: 0px;
}

label {
    font-weight: normal;
}

#banner {
    background: #08245b;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 105px;
    z-index: -1;
}

#logo {
    max-height: 75px;
    margin-top: 10px;
    z-index: 0;
}
