.instrument-label {
    margin-bottom: 0px;
}

h1 {
    font-size: 24px;
}

body {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.title {
    text-align: center;
    margin-bottom: 0px;
}

label {
    font-weight: normal;
    text-align: justify;
}

#banner {
    background: #08245b;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 75px;
    z-index: -1;
}

#logo {
    float: left;
    max-height: 55px;
    width: auto;
    z-index: 0;
    padding-right: 5px;
}

#study {
    color: white;
    font-size: 28px;
}

#bannerEls {
    margin-top: 10px;
    left: 0;
    right: 0;
    line-height: 89px;
}

#bannerEls > * {
    vertical-align: bottom;
}
