#volume-viewer {
    margin-top: 10px;
    margin-left: 20px;
}

#threshold-slider0 {
    position: absolute;
    left: 68px;
    top: 918px;
    width: 230px;
}

.slice-display {
/*    height: 220px;*/
}

.volume-container {
    width: 300px;
    padding-bottom: 10px;
}

.volume-viewer-controls {
    height: 320px !important; 
}

.blend-div {
    padding-top: 40px;
}

#blend-slider {
}

.control-heading {
    font-weight: normal !important;
}

.control-inputs {
    width:60px;
    margin-right:20px;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px; 
    background: #c1c1c1;
}

.thresh-input-left {
    margin-right:270px;
}

.thresh-input-right, .thresh-input-left, .time-inputs, .blend-inputs{
    width:30px;
}

.ui-slider {
    width: 174px;
    margin-right: 38px;
}

#slice-series-heading0 {
    display: none;
}

.slice-series-button {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


#slice-series-buttons0 {
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 130px;
}

#time-val {
    width: 30px;
}

#threshold-time-slider0 {
    position: absolute;
    left: 85px;
    top: 120px;
    top: 968px;
    width: 210px;
}

html {
    overflow: scroll;
    overflow: auto;
    -moz-scrollbars-vertical !important;
    min-height: 100%; margin-bottom: 1px; 
    overflow-y: scroll 30%  !important;
}
    
body {
    background: #e2e2e2 !important;
}


#brainbrowser-wrapper {
/*    background: white;*/
}

#global-controls {
    padding: 5px;
    background: #555555;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

#app-name {
    border:0;
    background: #064785;
    z-index: 999
    display: block;
}

.app-label {
    position: inherit;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.filename {
    font-weight: bold;
    color: #BBFF00;
}
