.css-tooltip {
  position: relative;
}

.css-tooltip .tooltip-text {
  width: 180px;
  top: 100%;
  left: 50%;
  margin-left: -90px;
  margin-top: 8px;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  border-radius: 4px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.css-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.css-tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}