.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

.timesheet-daily-checkbox {
    margin-left: 10px !important;
    margin-right: 5px !important;
    padding: 2px;
    display:inline-block;
    overflow:hidden
}

td {
    white-space: nowrap;
}


td.total {
    background-color: #F6F6F6;
    font-weight: bold;
}

/*BEHAVIOURAL subtests tables*/
table.fancytable th {
    background-color: #1c70b6;
    color: white;
    padding: 0.3em;
    border-right:2px groove silver;
    border-bottom:1px groove #999999;
    text-align: center;
}

table.fancytable th:hover, table.listColorCoded th:hover {
    /*background: #efefef; */
    background: #1c70b6;
    color: white;
    text-align: center;
}

/*MRI scan table*/
.pass {
    background-color: #E5FFCC;
}
.fail {
    background-color: #FFCCCC;
}
.noqc {
    background-color: #FFFFCC;
}


/*MRI big table*/
.data tr td.complete, .data tr td.complete.total
{
    background-color: #E5FFCC;
}
.data tr td.partial_run, .data tr td.partial_run.total
{
    background-color: #FFFFCC;
}
.data tr td.incomplete, .data tr td.no_scan, .data tr td.incomplete.total, .data tr td.no_scan.total
{
    background-color: #FFCCCC;
}

