parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/modules/*/ajax/*
        - %currentWorkingDirectory%/modules/*/test/*
    scanDirectories:
        - %currentWorkingDirectory%/modules/redcap/
