<?xml version="1.0" encoding="utf-8" ?>
<phpunit>
    <testsuites>
        <testsuite name='LorisUnitTests for php/libraries'>
            <directory>./unittests/</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name='Loris Core Integration Tests'>
            <directory>./integrationtests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
