<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        bootstrap="bootstrap.php"
        verbose="true"
        colors="true">
    <testsuites>
        <testsuite name='LorisUnitTests'>
        </testsuite>

        <testsuite name='LorisCoreIntegrationTests'>
        </testsuite>

        <testsuite name='LorisModuleIntegrationTests'>
            <directory>../modules/dicom_archive/test/</directory>
        </testsuite>

    </testsuites>
    <!-- This is currently breaking the coverage.xml generation, so
         for now it's disabled, but eventually we'll want to make
         sure everything is tested.. -->

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".inc">../php/libraries</directory>
            <!-- CodeCov crashes because installer/ has classes with the same
                 name as libraries/, so for now we only cover libraries and
                 exceptions under php/ -->
            <directory suffix=".inc">../php/exceptions</directory>
            <!--directory suffix=".php">../htdocs</directory-->
            <directory suffix=".inc">../modules/*/php</directory>
            <!--directory>../modules/dashboard/ajax/</directory-->
        </whitelist>
    </filter>

</phpunit>
