<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd" bootstrap="bootstrap.php" colors="true" testdox="true">
  <testsuites>
    <testsuite name="LorisUnitTests">
      <directory>./unittests/</directory>
    </testsuite>
    <testsuite name="LorisAPITests">
      <directory>../raisinbread/test/api/</directory>
    </testsuite>
    <testsuite name="LorisCoreIntegrationTests">
      <directory>./integrationtests/</directory>
    </testsuite>
    <testsuite name="LorisModuleIntegrationTests">
      <directory>../modules/battery_manager/test/</directory>
    </testsuite>
  </testsuites>
  <!-- This is currently breaking the coverage.xml generation, so
         for now it's disabled, but eventually we'll want to make
         sure everything is tested.. -->
  <source>
    <include>
      <directory suffix=".inc">../php/libraries</directory>
      <!-- CodeCov crashes because installer/ has classes with the same
                 name as libraries/, so for now we only cover libraries and
                 exceptions under php/ -->
      <directory suffix=".inc">../php/exceptions</directory>
      <!--directory suffix=".php">../htdocs</directory-->
      <directory suffix=".inc">../modules/*/php</directory>
      <!--directory>../modules/dashboard/ajax/</directory-->
    </include>
  </source>
</phpunit>
