/*
 * Dashboard CSS
 */

.alert-chevron {
    margin-top: 15px;
}
.clickable {
    cursor: pointer;
}
.document-repository-item {
    word-wrap: break-word;
}
.bvl-feedback-item {
    word-wrap: break-word;
}
.huge {
    font-size: 30px;
}
.medium {
    font-size: 20px;
}
.new-flag {
    color: red;
    font-size: 80%;
}
.panel-title {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}
.progress {
    height: 40px;
    margin-bottom: 0px;
}
.progress-bar-male {
    background-color: #1C70B6;
}
.progress-bar-female {
    background-color: #2FA4E7;
}
.project-description {
    clear: left;
}
.target {
    padding-top: 13px;
    padding-right: 3px;
}
.tasks {
    margin-bottom: 0px;
}
.task-site {
    margin-top: 10px;
    margin-bottom: 0px;
}
.views {
    margin-right: 10px;
    margin-top: -2px;
}
.welcome {
    margin-top: 10px;
    float: left;
}

/*########################## CCNA OVERRIDE START ##########################*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.dashboard-header {
    margin: 0;
}

.legend-entry {
    border-top: 2px solid #ddd;
    padding: 5px;
}

.legend-icon {
    cursor: pointer;
}

table.study-tracker-table {
    position: relative;
    margin-top: 20px;
    transition: 0.3s;
}

.ReactTooltipContent p {
    margin: 0;
}
{
.left-indent 
    margin-left: 20px;
}

.left-indent2 {
    margin-left: 40px;
}

.right-indent {
    margin-right: 20px;
}

.right-align {
    float: right;
    clear: both;
}

.center {
    text-align: center;
}

.SideBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 50px;
    transition: 0.3s;
    border-left: 1px solid #ccc;
}


.SideBar td {
    padding: 5px;
    text-align: left;
}

.SideBar .closebtn {
    text-align: right;
    text-decoration: none;
    font-size: 22px;
    color: #333;
    display: inline-block;
    transition: 0.3s;
    float: right;
}

.Filters {
    display: inline;
    margin-left: 100px;
}

.Filters td {
    padding: 5px;
}

.VLHeader, .PSCIDCell {
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.VLHeader {
    text-align: center;
}

.VLHeader:hover, .PSCIDCell:hover {
    text-decoration: underline;
}

.StudyTrackerRow {
    cursor: pointer;
}

.StudyTracker {
    margin: auto;
}

.complete {
    color: #4A90E2;
}



.deadline-approaching {
    color: #FFCD0D;
}

.deadline-past {
    color: #DD286A;
}

.no-deadline {
    color: #9B9B9B;
}

.cancelled {
    color: #DDDDDD;
}

.circle {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin: auto;
}

.complete-data-entry-dcc {
    background-image:
        radial-gradient(
            circle, #4A90E2, #4A90E2
        );
}

.complete-data-entry {
    background-image:
        radial-gradient(
            circle, #A6D3F5, #84C5F5
        );
}

.deadline-approaching-data-entry {
    background-image:
        radial-gradient(
            circle, #FFD201, #FFCD0D
        );
}

.deadline-past-data-entry {
    background-image:
        radial-gradient(
            circle, #FC3BB3, #DD286A
        );
}

.complete-visit {
    border: 4px solid #4A90E2;
}

.deadline-approaching-visit {
    border: 4px solid #FFCD0D;
}

.deadline-past-visit {
    border: 4px solid #DD286A;
}

.no-deadline-visit {
    border: 4px solid #9B9B9B;
}

.cancelled-visit {
    border: 4px solid #DDDDDD;
}

.cancelled-data {
    background: #DDDDDD;
}

.StudyTrackerHeader th {
    border-top: 2px solid #ddd !important;
    height: 50px;
    vertical-align: middle !important;
}

.StudyTrackerRow td {
    vertical-align: middle !important;
}

#dashboard {
    padding-top: 70px;
}
/*########################### CCNA OVERRIDE END ###########################*/