#instructions {
    margin-top: 20px;
}

.training-complete {
    margin-top: 20px;
}

.nav-tabs {
    margin-left: 0px;
    margin-bottom: 20px;
}

.panel-not-certified {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.panel-not-certified:hover,
.panel-not-certified:focus {
    color: #a94442;
    background-color: #ebcccc;
}
.panel-certified {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.panel-certified:hover,
.panel-certified:focus {
    color: #3c763d;
    background-color: #d0e9c6;
}

.panel-no-content {
    color: #777;
    cursor: not-allowed;
    background-color: #eee;
}
.clickable {
    cursor: pointer;
}