<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--

  NB: because study and sites elements get merged in a recursive and
  overwriting manner, any time when multiple elements of the same type
  (such as <item/> <item/>) occurs in the study or sites tree, the
  sites tree will overwrite the element entirely instead of simply
  merging - i.e., if the multiple elements are branches, the sites
  branch in its entirely will override the study branch.
-->
<config>
    <!-- set to 1 if development environment -->
    <dev>
        <sandbox>0</sandbox>
    </dev>

    <!-- database settings -->
    <database>
        <host>%HOSTNAME%</host>
        <username>%USERNAME%</username>
        <password>%PASSWORD%</password>
        <database>%DATABASE%</database>
        <adminUser>%USERNAME%</adminUser>
        <adminPassword>%PASSWORD%</adminPassword>
        <name>Example database</name>
    </database>

    <CouchDB>
        <dbName>%COUCH_DATABASE%</dbName>
        <hostname>%COUCH_HOSTNAME%</hostname>
        <port>%COUCH_PORT%</port>
        <admin>%COUCH_USERNAME%</admin>
        <adminpass>%COUCH_PASSWORD%</adminpass>
    </CouchDB>

    <!-- study variables -->
    <study>
        <PSCID>
            <!-- PSCID (Study Center ID) generation method possible options: sequential/random/user -->
            <generation>random</generation>
            <structure>
                <seq type="siteAbbrev"/>
                <seq type="numeric" length="3" min='100' max='999'/> <!-- Ex: AAA1-->
            </structure>
        </PSCID>

        <ExternalID>
            <generation>random</generation>
            <structure>
                <seq type="siteAbbrev"/>
                <seq type="numeric" length="3" min='100' max='999'/>
            </structure>
        </ExternalID>
        <!--Header table is diplayed on top of instrument list page and instrument pages -->
        <HeaderTable>
            <!--Specify the table as the tag and the field to query as the value inside the tag -->
            <parameter_candidate>candidate_comment</parameter_candidate>
            <candidate>ProbandDoB</candidate>
            <parameter_session>MRI_Done</parameter_session>
        </HeaderTable>

        <!-- certification module -->
        <Certification>
            <EnableCertification>1</EnableCertification>
            <CertificationProjects>
                <!-- add project for which certification module should be enabled-->
                <CertificationProject>1</CertificationProject>
                <CertificationProject>2</CertificationProject>
                <CertificationProject>3</CertificationProject>
            </CertificationProjects>

            <CertificationInstruments>
                <test value="bmi">BMI</test>
                <test value="radiology_review">Radiology Review</test>
            </CertificationInstruments>
        </Certification>

    </study>
    <!-- end of study definition -->
</config>
