project
smarty/templates_c
.gitmodules
project-*
*.un~
*.linst~
*.php~
vendor
.idea
tools/*.txt
htdocs/phpunit_codecoverage/
htdocs/my_tests/
docs/css/
docs/dashboard.html
docs/fonts/
docs/index.html
docs/js/
docs/usr/
docs/var/
tools/ip_output.txt.back
