Samir Das <samir@bic.mni.mcgill.ca> 
Samir Das <samirdas99@0cffdb86-1146-0410-98a2-7dff4466640b> 
Samir Das <samirdas99@gmail.com>
Samir Das <samthebsman@gmail.com>
Christine Rogers <rogers@bic.mni.mcgill.ca>
Christine Rogers <lorisadmin@christine.localdomain>
Christine Rogers <christine.rogers@mcgill.ca>
Christine Rogers <christinerogers@users.noreply.github.com>
