sudo: required

# any language should do it
language: php

php:
    - "7.2"
    - "7.3"

services:
- docker

install:
- sudo apt-get update
- sudo apt-get install -y libapparmor1
- pecl install -f ast-0.1.6
- sudo apt-get install npm
- make dev

before_script:
- if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.3" ]]; then sed -i 's/7.2/7.3/g' Dockerfile.test.php7; fi

script:
- make checkstatic
- docker-compose run -T --rm integration-tests vendor/bin/phpunit --configuration test/phpunit.xml
