sudo: required

# any language should do it
language: php

matrix:
  include:
  - php: "7.2"
  - php: "7.3"
  - php: "7.4snapshot"

services:
- docker

install:
- sudo apt-get update
- sudo apt-get install -y libapparmor1
- pecl install -f ast-1.0.1
- sudo apt-get install npm
- make dev

before_script:
- sed -i "s/7.2/$TRAVIS_PHP_VERSION/g" Dockerfile.test.php7

script:
# Unable to initialize database, use the following code to debug. - docker-compose up --build
# docker-compose up --build
- make checkstatic
- docker-compose run -e HEADLESS=true -T --rm integration-tests vendor/bin/phpunit --configuration test/phpunit.xml
