sudo: required

language: php

php: 
  - 7.3
  - 7.4
    
# Testing Ubuntu 18.04
os: linux
dist: bionic

matrix:
    fast_finish: true

env:
  - TEST_SUITE=static
  - TEST_SUITE=unit
  - TEST_SUITE=integration

services:
- docker

install:
- sudo apt-get update
- sudo apt-get install -y libapparmor1
- pecl install -f ast-1.0.3
- sudo apt-get install npm
- make dev

script: "npm run tests:$TEST_SUITE"

# This should improve build time by caching composer files.
cache:
  directories:
    - $HOME/.composer/cache/files
