language: php

cache:
    directories:
        - vendor

php:
    - 5.4
    - 5.6
    - '7'

matrix:
    allow_failures:
        - php: '7'

sudo: false

before_install:
    # Start Xvfb in a desktop screen size,
    # otherwise some tests will fail because the links
    # are hidden when Selenium tries to find them.
    - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1600x1200x16"
    #- "export DISPLAY=:99.0"
    #- "sh -e /etc/init.d/xvfb start"

install:
    # Install composer modules
    - composer install --dev
    - phpenv rehash

    # Install jslint
    - npm install -g jslint

      # Download a Selenium Web Driver release
    - wget "http://selenium-release.storage.googleapis.com/2.45/selenium-server-standalone-2.45.0.jar"

    - php -S localhost:8000 -t htdocs 2>1 > /dev/null &

    # Start Selenium and redirect Selenium WebDriver
    # output to /dev/null so that it doesn't flood the
    # screen in the middle of our other tests
    - DISPLAY=:99.0 java -jar selenium-server-standalone-2.45.0.jar > /dev/null &

before_script:
    # Set up the Loris environment
    - mkdir -p project smarty/templates_c
    - chmod 777 smarty/templates_c

    # Set up the MySQL database, install the Schema, create a MySQL user
    # for the config file, and reset the Loris user's password for testing
    - mysql -e 'CREATE DATABASE LorisTest'
    - mysql LorisTest < SQL/0000-00-00-schema.sql
    - mysql LorisTest -u root -e "GRANT UPDATE,INSERT,SELECT,DELETE,CREATE TEMPORARY TABLES ON LorisTest.* TO 'SQLTestUser'@'localhost' IDENTIFIED BY 'TestPassword' WITH GRANT OPTION"
    - mysql LorisTest -e "UPDATE users SET Password_MD5=CONCAT('aa', MD5('aatestpass')), Pending_approval='N', Password_expiry='2100-01-01' WHERE ID=1"
    - sed -e "s/%HOSTNAME%/localhost/g"
          -e "s/%USERNAME%/SQLTestUser/g"
          -e "s/%PASSWORD%/TestPassword/g"
          -e "s/%DATABASE%/LorisTest/g"
          < docs/config/config.xml > project/config.xml
    - mysql LorisTest -e "UPDATE Config SET Value='$(pwd)/' WHERE ConfigID=(SELECT ID FROM ConfigSettings WHERE Name='base')"
    - mysql LorisTest -e "UPDATE Config SET Value='http://localhost:8000' WHERE ConfigID=(SELECT ID FROM ConfigSettings WHERE Name='url')"

script:
    # Run PHP -l on everything to ensure there's no syntax
    # errors.
    - for i in `ls php/libraries/*.class.inc modules/*/php/* modules/*/ajax/* htdocs/*.php htdocs/*/*.php`;
      do
        php -l $i || exit $?;
      done
    # Run unit tests to make sure functions still do what they should.
    - vendor/bin/phpunit test/unittests/

    # Run integration tests to make sure everything didn't just
    # break
    - vendor/bin/phpunit test/integrationtests/

    # Run integration tests for specific modules
    - vendor/bin/phpunit modules/brainbrowser/test
    - vendor/bin/phpunit modules/candidate_list/test
    - vendor/bin/phpunit modules/candidate_parameters/test
    - vendor/bin/phpunit modules/configuration/test
    - vendor/bin/phpunit modules/conflict_resolver/test
    - vendor/bin/phpunit modules/create_timepoint/test
    - vendor/bin/phpunit modules/dashboard/test
    - vendor/bin/phpunit modules/data_integrity_flag/test
    - vendor/bin/phpunit modules/data_team_helper/test
    - vendor/bin/phpunit modules/datadict/test
    - vendor/bin/phpunit modules/dicom_archive/test
    - vendor/bin/phpunit modules/document_repository/test
    - vendor/bin/phpunit modules/examiner/test
    - vendor/bin/phpunit modules/final_radiological_review/test
    - vendor/bin/phpunit modules/genomic_browser/test
    - vendor/bin/phpunit modules/help_editor/test
    - vendor/bin/phpunit modules/imaging_browser/test
    - vendor/bin/phpunit modules/instrument_builder/test
    - vendor/bin/phpunit modules/instrument_list/test
    - vendor/bin/phpunit modules/instrument_manager/test
    - vendor/bin/phpunit modules/mri_upload/test
    - vendor/bin/phpunit modules/mri_violations/test
    - vendor/bin/phpunit modules/new_profile/test
    - vendor/bin/phpunit modules/next_stage/test
    - vendor/bin/phpunit modules/reliability/test
    - vendor/bin/phpunit modules/statistics/test
    - vendor/bin/phpunit modules/survey_accounts/test
    - vendor/bin/phpunit modules/timepoint_flag/test
    - vendor/bin/phpunit modules/timepoint_list/test
    - vendor/bin/phpunit modules/training/test
    - vendor/bin/phpunit modules/user_accounts/test

    # Run PHPCS on the entire libraries directory.
    - vendor/bin/phpcs --standard=docs/LorisCS.xml php/libraries php/exceptions
    - vendor/bin/phpcs --standard=docs/LorisCS.xml --extensions=php/php htdocs

    # Run PHPCS on some scripts
    - vendor/bin/phpcs --standard=docs/LorisCS.xml tools/CouchDB_Import_MRI.php
    - vendor/bin/phpcs --standard=docs/LorisCS.xml tools/assign_missing_instruments.php
    - vendor/bin/phpcs --standard=docs/LorisCS.xml tools/data_dictionary_builder.php
    - vendor/bin/phpcs --standard=docs/LorisCS.xml tools/generic_includes.php

    # Run PHPCS on specific modules
    - vendor/bin/phpcs --standard=docs/LorisCS.xml modules/mri_upload/php/NDB_Menu_Filter_mri_upload.class.inc
    - vendor/bin/phpcs --standard=docs/LorisCS.xml modules/mri_upload/php/File_Decompress.class.inc
    - vendor/bin/phpcs --standard=docs/LorisCS.xml --extensions=php/php,inc/php modules/genomic_browser
    - vendor/bin/phpcs --standard=docs/LorisCS.xml --extensions=php/php,inc/php modules/candidate_list
    - vendor/bin/phpcs --standard=docs/LorisCS.xml --extensions=php/php,inc/php modules/conflict_resolver
    - vendor/bin/phpcs --standard=docs/LorisCS.xml --extensions=php/php,inc/php modules/dashboard
    - vendor/bin/phpcs --standard=docs/LorisCS.xml --extensions=php/php,inc/php modules/examiner
    - vendor/bin/phpcs --standard=docs/LorisCS.xml --extensions=php/php,inc/php modules/training
    - vendor/bin/phpcs --standard=docs/LorisCS.xml --extensions=php/php,inc/php modules/brainbrowser
    - vendor/bin/phpcs --standard=docs/LorisCS.xml --extensions=php/php,inc/php modules/configuration

    # Run JSLINT on specific scripts
    - jslint htdocs/js/jquery.dynamictable.js
