sudo: required

language: php

matrix:
  include:
  - php: "7.2"
  - php: "7.3"
  - php: "7.4snapshot"
  allow_failures:
  - php: "7.4snapshot"

services:
- docker

install:
- sudo apt-get update
- sudo apt-get install -y libapparmor1
- pecl install -f ast-1.0.1
- sudo apt-get install npm
- make dev

before_script:
- sed -i "s/7.2/$TRAVIS_PHP_VERSION/g" Dockerfile.test.php7

jobs:
    include:
        - stage: "Tests"
          name: "Static Analysis"
          script: make checkstatic
        - script: test/dockerized-unit-tests.sh
          name: "Unit Tests"
        - script: test/dockerized-integration-tests.sh
          name: "Integration Tests"
