language: php

php: 5.4

install:
    # List of PEAR modules installed by install script
    - pear upgrade-all
    - pear install Benchmark
    - pear install Config
    - pear install File_Archive
    - pear install HTML_Common
    - pear install HTML_QuickForm
    - pear config-set preferred_state beta
    - pear install HTML_QuickForm2
    - pear install Mail
    - pear install Mail_Mime
    - pear install Net_SMTP
    - pear install Net_Socket
    - pear install OLE
    - pear install Pager
    - pear install PHPDocumentor
    - pear install Structures_Graph
    - pear install XML_Parser

      # Running PHPCS is part of the test, even though
      # Loris itself doesn't depend on it.
    - pear install PHP_CodeSniffer

      # Travis-CI requires this.
    - phpenv rehash

before_script:
    - mysql -e 'CREATE DATABASE LorisTest'
      # Even though this isn't used yet, it should in
      # theory still catch syntax errors in the schema.
    - mysql LorisTest < SQL/0000-00-00-schema.sql

script:
    # Run PHPCS on libraries directory.
    - phpcs --standard=docs/LorisCS.xml php/libraries
