language: php

php: 5.4

before_install:
    - sudo apt-get update
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"

install:
    # Install composer modules
    - composer install --dev
    # List of PEAR modules installed by install script
    - pear config-get php_dir
    # Currently commented out because all we do is run
    # PHPCS and php -l on the code from Travis.
    #- pear upgrade
    - pear install Benchmark
    #- pear install Config
    #- pear install File_Archive
    #- pear install HTML_Common
    - pear install HTML_QuickForm
    - pear config-set preferred_state beta
    #- pear install HTML_QuickForm2
    #- pear install Mail
    #- pear install Mail_Mime
    #- pear install Net_SMTP
    #- pear install OLE
    - pear install Pager
    #- pear install PHPDocumentor
    #- pear install XML_Parser

    # Travis-CI requires this.
    - phpenv rehash

      # Download a Selenium Web Driver release
    - wget "http://selenium-release.storage.googleapis.com/2.44/selenium-server-standalone-2.44.0.jar"

    # Install requirements for php-fpm as per Travis DOCs
    - sudo apt-get install apache2 libapache2-mod-fastcgi smarty3
    # /usr/share/php gets obliterated from the path by phpenv, so make
    # a symlink to fake it.
    - ln -s /usr/share/php/smarty3 ~/.phpenv/versions/$(phpenv version-name)/pear
    - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
    - sudo a2enmod rewrite actions fastcgi alias
    - sudo a2dismod php5
    - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
    # Start Selenium and redirect Selenium WebDriver
    # output to /dev/null so that it doesn't flood the
    # screen in the middle of our other tests
    - DISPLAY=:99.0 java -jar selenium-server-standalone-2.44.0.jar > /dev/null &

before_script:
    # Set up the Loris environment
    - mkdir -p project smarty/templates_c
    - chmod 777 smarty/templates_c

    # Set up the MySQL database, install the Schema, create a MySQL user
    # for the config file, and reset the Loris user's password for testing
    - mysql -e 'CREATE DATABASE LorisTest'
    - mysql LorisTest < SQL/0000-00-00-schema.sql
    - mysql LorisTest -u root -e "GRANT UPDATE,INSERT,SELECT,DELETE ON LorisTest.* TO 'SQLTestUser'@'localhost' IDENTIFIED BY 'TestPassword' WITH GRANT OPTION"
    - mysql LorisTest -e "UPDATE users SET Password_MD5=CONCAT('aa', MD5('aatestpass')), Pending_approval='N', Password_expiry='2100-01-01' WHERE ID=1"
    - sed -e "s/%HOSTNAME%/localhost/g"
          -e "s/%USERNAME%/SQLTestUser/g"
          -e "s/%PASSWORD%/TestPassword/g"
          -e "s/%DATABASE%/LorisTest/g"
          < docs/config/config.xml > project/config.xml
    - mysql LorisTest -e "UPDATE Config SET Value='$(pwd)/' WHERE ConfigID=(SELECT ID FROM ConfigSettings WHERE Name='base')"

      # Configure apache
    - sudo cp -f docs/config/apache2-fastcgi /etc/apache2/sites-available/default
    - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)/htdocs?g" --in-place /etc/apache2/sites-available/default
    - sudo service apache2 restart

script:
    # Run PHP -l on everything to ensure there's no syntax
    # errors.
    - for i in `ls php/libraries/*.class.inc modules/*/php/* modules/*/ajax/* htdocs/*.php htdocs/*/*.php`;
      do
        php -l $i || exit $?;
      done
    # Run unit tests to make sure functions still do what they should.
    - phpunit test/unittests/

    # Run integration tests to make sure everything didn't just
    # break
    - phpunit test/integrationtests/

    # Run PHPCS on the entire libraries directory.
    - vendor/bin/phpcs --standard=docs/LorisCS.xml php/libraries

    # Run PHPCS on specific modules
    - vendor/bin/phpcs --standard=docs/LorisCS.xml modules/mri_upload/php/NDB_Menu_Filter_mri_upload.class.inc
    - vendor/bin/phpcs --standard=docs/LorisCS.xml modules/mri_upload/php/File_Decompress.class.inc
