version: '2'
services:
  db:
    build:
      context: .
      dockerfile: Dockerfile.test.db
      args:
        BASE_DIR: /app/
    volumes:
      - ./test/mysql-config:/etc/mysql/conf.d
    environment:
      - MYSQL_DATABASE=LorisTest
      - MYSQL_ROOT_PASSWORD=yes

  selenium:
    image: selenium/standalone-firefox-debug:2.53.1
    ports:
      - "5900:5900"

  web:
    build:
      context: .
      dockerfile: Dockerfile.test.php7
    volumes:
      - ./:/app
      - ./test/test_instrument:/app/project/instruments
    environment:
      - LORIS_DB_CONFIG=/app/test/config.xml
    depends_on:
      - db
    command: php -S 0.0.0.0:8000 -t /app/htdocs /app/htdocs/router.php

  unit-tests:
    build:
      context: .
      dockerfile: Dockerfile.test.php7
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      - LORIS_DB_CONFIG=test/config.xml
    depends_on:
      - db
    entrypoint: /app/test/wait-for-services.sh

  integration-tests:
    build:
      context: .
      dockerfile: Dockerfile.test.php7
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      - LORIS_DB_CONFIG=test/config.xml
      - SELENIUM_REQUIRED=true
    depends_on:
      - db
      - selenium
      - web
    entrypoint: /app/test/wait-for-services.sh
