version: '3.8'
services:
  db:
    build:
      context: .
      dockerfile: Dockerfile.test.db
      args:
        BASE_DIR: /app/
    volumes:
      - ./test/mysql-config:/etc/mysql/conf.d
    environment:
      - MYSQL_DATABASE=LorisTest
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 2s
      retries: 30

  selenium:
    image: selenium/standalone-firefox:4.25
    ports:
      - "5900:5900"
  web:
    build:
      context: .
      dockerfile: Dockerfile.test.php8
    volumes:
      - ./:/app
      - ./test/test_instrument/NDB_BVL_Instrument_testtest.class.inc:/app/project/instruments/NDB_BVL_Instrument_testtest.class.inc
      - ./raisinbread/instruments:/app/project/instruments
      - ./logs:/app/logs  # Mount logs to the host machine
    environment:
      - LORIS_DB_CONFIG=/app/test/config.xml
    depends_on:
      - db:
          condition: service_healthy
    command: php -S 0.0.0.0:8000 -t /app/htdocs /app/htdocs/router.php

  unit-tests:
    build:
      context: .
      dockerfile: Dockerfile.test.php8
    volumes:
      - ./:/app
      - ./logs:/app/logs
    working_dir: /app
    environment:
      - LORIS_DB_CONFIG=test/config.xml
    depends_on:
      - db
    entrypoint: /app/test/wait-for-services.sh

  integration-tests:
    build:
      context: .
      dockerfile: Dockerfile.test.php8
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      - LORIS_DB_CONFIG=test/config.xml
      - SELENIUM_REQUIRED=true
      - DOCKER_WEB_SERVER=http://web:8000
    depends_on:
      - db
      - selenium
      - web
    entrypoint: /app/test/wait-for-services.sh
