[project]
	description = LORIS is a web-accessible database solution for longitudinal multi-site studies.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dave MacFarlane (driusan)
[access "refs/for/refs/*"]
	read = group user/Dave MacFarlane (driusan)
	push = group user/Dave MacFarlane (driusan)
	label-Code-Review = -2..+2 group user/Dave MacFarlane (driusan)
	label-Verified = -1..+1 group user/Dave MacFarlane (driusan)
	rebase = group user/Dave MacFarlane (driusan)
	removeReviewer = group user/Dave MacFarlane (driusan)
	submit = group user/Dave MacFarlane (driusan)
[access "refs/heads/*"]
	read = group user/Dave MacFarlane (driusan)
	create = group user/Dave MacFarlane (driusan)
	push = +force group user/Dave MacFarlane (driusan)
	pushMerge = group user/Dave MacFarlane (driusan)
[access "refs/tags/*"]
	push = +force group user/Dave MacFarlane (driusan)
	pushTag = group user/Dave MacFarlane (driusan)
	pushSignedTag = group user/Dave MacFarlane (driusan)
