table#instrument_dna_tracking {
border-collapse:collapse;
border-color: gray;
}
table#instrument_dna_tracking tr {
/*background: #b8d1f3;*/
background:none;
}
table#instrument_dna_tracking td {
padding:7px; border:gray 1px solid;
}
table#instrument_dna_tracking tr td:nth-child(odd){
                /*background: #b8d1f3;*/
background:none;
}
table#instrument_dna_tracking tr td:nth-child(even){
                background: #dae5f4;
}
/*table#instrument_dna_tracking th {
background-color:#038;
color: white;
}
*/
.oneselect {
width: 100%;
}
