#log_box {
  width: 400px;
  height: 200px;
  border: 2px solid #064785;  
}

#progressbar {
  position: relative;
  width: 400px;
} 

.progress-label {
  position: absolute;
  left: 45%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}