# This is needed to match the sql_mode used by TravisCI.
# In particular the default config for MySQL docker enables
# `only_full_group_by` which causes some of our tests to fail
[mysqld]
sql_mode = "NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
