.react-series-data-viewer-scoped .dropdown-menu {
  width: max-content;
}

.react-series-data-viewer-scoped .dropdown-menu li {
  margin: 0;
  padding: 0 10px;
}

.react-series-data-viewer-scoped .dropdown-menu li:hover {
  background: #eee;
  cursor: pointer;
  margin-top: 0;
  width: 100%;
}

.react-series-data-viewer-scoped > panel-primary {
  padding-bottom: 35px;
}

#channel-viewer > .panel-body {
  margin-bottom: 30px;
}

.checkbox-flex-label > div > input[type="checkbox"] {
  vertical-align: top;
}

.checkbox-flex-label {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0;
  justify-content: center;
}

.btn-dropdown-toggle {
  padding: 5px 10%;
}

.col-xs-12 > .btn-dropdown-toggle {
  padding: 5px;
  max-width: fit-content;
}

.col-xs-12 > .dropdown-menu {
  width: max-content;
  line-height: 14px;
  padding: 0
}

.col-xs-12 > .dropdown-menu li {
  margin: 0;
  padding: 0;
}

.dropdown-menu > .active {
  background-color: #e4ebf2;
}


.btn.btn-xs {
  font-size: 12px;
}

.btn-group .btn {
  margin: 0;
}

.btn-group {
  margin-right: 10px;
}

.btn-primary:focus:not(.active),
.btn-primary:active:not(.active) {
  color: #246EB6;
  background-color: white;
  border-color: #246EB6;
  outline: 0;
}

.btn-blue:not(.active) {
  color: white;
  background-color: #246EB6;
  border-color: #246EB6;
}

.no-gutters > div {
  padding:0;
}

svg {
  user-select: none;
}

svg:not(:root) {
  overflow: clip;
}

.annotation.list-group-item,
.panel-event.list-group-item,
.panel-event-channel-based.list-group-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}

.annotation,
.panel-event {
  background: #fff;
  border-left: 5px solid #a6d5f2;
}

.panel-event-channel-based {
  background: #fff;
  border-left: 5px solid #7ef1de;
}

#right-panel-controls {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.list-group-item:hover {
  background: #fff9d6;
}

#event-name {
 width: 100%;
}

/* THIS REMOVED BORDERS */
.form-control.form-edit:not([name="select-add-hed"]) {
  background-color: unset !important;
  border: none !important;
  box-shadow: none !important;
}

.event-label {
  display: inline-block;
  background-color: #eff1f2;
  color: #1f2329;
  font-weight: normal;
}

.control-label {
  margin: 0;
}

.additional-columns-outer {
  display: flex;
  width: 100%;
  margin-top: 8px;
  align-items: center;
}

.additional-columns-inner {
  flex: 1;
}

.code-mimic {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
}

.word-break-word {
  word-break: break-word;
}

.form-element-row {
  display: flex;
  align-items: center;
}

.select-tag-text, .select-placeholder-text {
  font-style: italic;
  color: #aaa;
}

.select-tag-text > *,
.select-placeholder-text > * {
  font-style: normal;
  color: #555;
}

.select-element-row > label {
  flex-basis: 40%;
}

.select-element-row > div {
  flex: 1;
}

.numeric-element-row {
  margin: 8px 0;
}
.numeric-element-row > label {
  flex-basis: 40%;
}

.numeric-element-row > label::after {
  font-weight: normal;
  content: ' [s]';
}

.numeric-element-row > div {
  flex-basis: 60%;
}

.epoch-details {
  display: flex;
  width: calc(100% - 15px);
  padding: 10px 0;
}

.epoch-action {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 5px;
  align-content: center;
  padding-right: 15px;
  scale: 1.25;
}

.epoch-action > .btn-xs {
  padding: 0;
  font-size: 13px;
}

.epoch-details > .epoch-label {
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 10px;
  margin-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.epoch-action button {
  width: 24px;
  height: 22px;
}

.epoch-tag {
  padding: 10px;
  background: #e7e4e4;
  word-wrap: break-word;
  width: 100%;
}

.epoch-tag > div,
.epoch-tag > div > div {
  margin: 5px 0;
}

.badge-pill {
  max-width: 100%;
}

.badge-pill p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.badge-property {
  background-color: #690096;
}

.badge-hed {
  background-color: #d54a08;
  cursor: help;
  position: relative;
  display: inline-block;
}

.tag-hed, .dataset-tag-hed {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.tag-hed-artifact {
  cursor: pointer;
}

.badge-hed .badge-hed-tooltip,
.tag-hed .badge-hed-tooltip {
  visibility: hidden;
  background-color: #555555;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: unset;
  width: 500px;
  max-height: 350px;
  overflow-y: scroll;
  white-space: normal;
  text-align: left;
}

.badge-hed:hover .badge-hed-tooltip,
.tag-hed:hover .badge-hed-tooltip {
  visibility: visible;
}

.badge-hed-tooltip .tooltip-title {
  font-size: 16px;
}

#dataset-hed-tooltip {
  position: absolute;
  width: 22.5%;
  height: 52.5vh;
  background-color: #555555;
  color: whitesmoke;
  padding: 10px;
  border-radius: 6px;
  text-align: left;
  z-index: 5;
}

.tooltip-description {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  margin-top: 15px;
}

.tooltip-footer {
  font-size: 12px;
  color: black;
  background: whitesmoke;
  border-radius: 5px;
  padding: 5px;
}

.tooltip-footer-viewer {
  position: absolute;
  bottom: 20%;
  width: 93%;
}

.tooltip-footer-panel {
  width: 50%;
  margin: auto;
}

.hed-badge-not-origin:after {
  content: '※';
  vertical-align: top;
  font-size: 11px;
}

.badge-hed-add {
  /*color: #4b9b29 !important;*/
  /*border: solid 1px #4b9b29;
  #246EB6*/
  color: #246EB6 !important;
  border: solid 1px #246EB6;
  background-color: #fff !important;
  cursor: pointer;
}

.selection-filter-tags {
  margin: 0;
  font-weight: bold;
}

.tag-remove-button {
  cursor: pointer;
  margin-left: 5px;
  padding-left: 7.5px;
  border-left: #b0885d solid 1px;
  float: right;
  width: 15px;
}

.dataset-tag-remove-button {
  border-left: #999 solid 1px;
}

#select-schema-dropdown button {
  padding: 2px !important;
}

#hed-tag-input::-webkit-calendar-picker-indicator {
  opacity: 100;
}

.selection-filter-tag {
  display: inline-block;
  margin: 2px 5px;
  padding: 5px 10px;
  color: black;
  background-color: #E89A0C;
  border-radius: 5px;
  height: 30px;
  max-width: 100vw;
}


.selection-filter-dataset-tag {
  color: #fff;
  background-color: #A9A9A9;
}

.dataset-tag-selected {
  /*background-color: #4B9B29;*/
  background-color: rgb(24, 99, 0);
}

#tag-modal-container > button {
  z-index: 9;
}

#dtm-title {
  display: flex;
  align-items: center;
}

.filter-tag-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  max-width: 12vw;
}

#filter-dropdown > .dropdown-menu,
#filter-dropdown > .dropdown-menu > li > .dropdown-menu
{
  min-width: unset;
  width: max-content;
}

#filter-dropdown > .dropdown-menu > li > i {
  width: 14px;
}

#filter-dropdown > button > i {
  width: 12px;
}

.filter-ban-circle::after {
  content: "\e090";
  position: relative;
  right: 100%;
  color: black;
  opacity: 0.5;
  font-size: 13px;
}

input[type="search"]#hed-search, input[type="search"]#label-search {
  -webkit-appearance: searchfield;
}

input[type="search"]#hed-search::-webkit-search-cancel-button,
input[type="search"]#label-search::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

label[for=toggle-ignore_na], label[for=toggle-invert-search]  {
  font-weight: normal;
  font-size: 12px;
}

.label-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
  width: 64px;
  font-style: italic;
}

@media only screen and (min-width : 1441px) {
  .label-ellipsis {
    width: 80px;
  }
}

@media only screen and (min-width : 1550px) {
  .label-ellipsis {
    width: 105px;
  }
}

@media only screen and (min-width : 1660px) {
  .label-ellipsis {
    width: 8vw;
  }
}

li.hed-endorsement {
  display: block;
  cursor: default;
}

li.hed-endorsement::before {
  content: '\e034';
  font-family: 'Glyphicons Halflings';
  font-size: 11px;
  float: left;
  margin-top: 3px;
  margin-left: -20px;
  font-style: normal;
}

option.hed-endorsed::after {
  content: '\e034';
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  float: right;
  margin-top: 3px;
  margin-right: 10px;
  color: green;
  font-style: normal;
}

li.hed-endorsed::before {
  color: green;
}

li.hed-caveat::before {
  color: red;
}

li.hed-comment::before {
  content: '\e111';
  color: #256eb6;
}

.hed-endorsement-list:hover, .hed-endorsement-list-selected {
  background-color: #fff9d6;
}

.hed-endorsement-radio-label {
  padding: 0 4px;
  font-weight: normal;
}

.caret-right {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid;
  float: right;
  position: relative;
  top: 7px;
}

.tagged-by-panel, .additional-columns-panel {
  max-width: calc(100% - 5px);
  margin: 5px 0;
}

.tagged-by-panel > .panel-heading > .panel-title,
.dataset-tagged-by-panel > .panel-heading > .panel-title,
.additional-columns-panel > .panel-heading > .panel-title {
  font-size: 14px;
  font-weight: normal;
}

.tagged-by-panel > .panel-collapse {
  background-color: #fff;
}

.list-group-item:hover .tagged-by-panel > .panel-collapse {
  background-color: #fff9d6;
}

.dataset-tagged-by-panel {
  width: 100%;
}

.dataset-tagged-by-panel > .panel-collapse,
.additional-columns-panel > .panel-collapse,
.tagged-by-panel.tagged-by-active > .panel-collapse {
  background-color: white;
}

.hed-endorsement-tooltip {
  padding: 1px 6px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 12px;
  color: #034785;
  background-color: #E4EBF2;
  border: 1px solid #034785;
  display: inline-block;
  position: absolute;
  z-index: 4;
  word-break: normal;
  margin-left: 5px;
  width: max-content;
}

.hed-endorsement-tooltip-line {
  display: inline-block;
  position: absolute;
  background-color: #034785;
  margin: 0;
}

.glyphicon-endorsement-panel {
  color: #256eb6;
  padding: 0 2px;
  float: right;
}

.glyphicon-greyed {
  color: grey !important;
  cursor: not-allowed !important;
}

.dataset-tag-dirty {
  opacity: 0.6;
}

#select_column {
  height: 27px;
  text-align: center;
}

.dataset-filter-tags {
  margin: 0 2px;
}

.dataset-filter-tag {
  max-width: 52vw;
}

.dataset-tag-name {
  max-width: calc(100% - 20px);
}

#tag-modal-container {
  margin-bottom: 15px;
}

#tag-modal-container > button {
  position: unset;
  width: unset;
}

#tag-modal-container > div > div {
  width: 75vw !important;
  height: 75vh;
}

#tag-modal-container > div > div > div > div:last-child {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.cursor-default {
  cursor: default;
}

.line-height-14 {
  line-height: 14px;
}

.margin-top-10 {
  margin-top: 10px;
}

.flex-basis-30 {
  flex-basis: 30%;
}

.flex-basis-40 {
  flex-basis: 40%;
}

.flex-basis-45 {
  flex-basis: 45%;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.width-100 {
  width: 100%;
}

.scale-1_5 {
  scale: 1.5;
}

.float-right {
  float: right;
}

.event-list .btn.btn-primary {
  color: #555;
  border: 1px solid #555;
}

.event-list .btn.btn-primary.active {
  color: #000;
  background-color: #ddd;
  border: 1px solid #000;
}

.event-list .btn.btn-primary:hover {
  color: #333;
  background-color: #eee;
  border: 1px solid #333;
}

.event-panel-message {
  padding: 10px 5px;
  background: rgba(238, 238, 238, 0.8);
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.input-interval-bound {
  width: 60px;
  height: 22px;
  font-size: 10px;
  float: left;
  text-align: center;
}

.btn-zoom {
  margin: 0 auto 3px auto;
  width: 55px;
  text-align: center;
  text-wrap: unset;
  text-overflow: ellipsis;
}

.col-xs-title {
  color: #064785;
  font-weight: bold;
  text-align: center;
}

#electrode-montage .list-group {
  border: 1px solid #ddd;
}

#electrode-montage .list-group-item:first-child {
  border-top: none;
}

#electrode-montage .list-group-item {
  margin-bottom: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#channel-selector-montage > div {
  padding-top: 3% !important;
}

#channel-selector-montage svg {
  margin-top: 5vh;
}

#channel-selector-montage > div > div > div:nth-child(2) {
  max-height: 80vh !important;
}

#channel-selector-montage > div > div > div > div:last-child {
  display: none !important;  /* Disappear modal footer */
}

.epoch-action .glyphicon {
  padding-top: 2px !important;
}

.glyphicon-option-show:before {
  content: '•••';
}

#eegSessionView .table-scroll {
  padding-bottom: 0;
}

#eegSessionView #lorisworkspace > .panel {
  border: none;
}

#eegSessionView .panel-heading {
  height: auto !important;
}

#eegSessionView .panel-heading > div > i {
  cursor: pointer;
}

#eegSessionView .panel-heading > div > i:hover {
  scale: 1.05;
}

#eegSidebar {
  top: 0;
  bottom: 0;
  left: 0;
  height: calc(100%);
  position: fixed;
}

#page.eegBrowser {
  vertical-align: top;
  position: relative;
  width: auto;
}

.close-tab {
  background-color: rgb(228, 235, 242);
  border: 1px solid #C3D5DB !important;
  border-bottom-color: rgb(228, 235, 242) !important;
  font-weight: normal;
  font-size: 20px !important;
  border-radius: 4px 4px 0 0;
  align-content: center;
  text-align: center;
  flex-grow: 1;
  padding: 5px 10px !important;
  margin-right: 0 !important;
}

.event-tab {
  flex: 1;
  margin-right: 3px;
}

.close-tab:hover {
  color: #246EB6;
  text-decoration: none;
}

.nav-tabs > li > a {
  line-height: 0.8;
  font-size: 14px;
  align-content: center;
  height: 42px;
}

.nav-tabs > li {
  margin-bottom: -1px !important;
}

.nav-tabs > li:not(:last-child) > a {
  font-size: 14px;
  margin-right: 3px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .pagination-nav {
    padding-top: 8px;
  }

  #eegSidebar {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #eegSidebar {
    display: block;
  }

  #page.eegBrowser {
    margin-left: 150px;
  }

  #tag-modal-container > button {
    position: fixed;
    left: 15px;
    bottom: 20px;
    width: 120px;
    white-space: normal;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
  .row:has(#right-panel-controls) {
    width: 95% !important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .event-list {
    margin-bottom: 0;
  }

  .badge-hed-tooltip {
    top: -50px !important;
    right: 105% !important;
  }

  .nav-tabs > li:not(:last-child) > a {
    font-size: 9px !important;
  }
}

@media only screen and (min-width : 1080px) {
  .nav-tabs > li:not(:last-child) > a {
    font-size: 11px !important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .pull-right-lg {
    text-align: right;
  }

  .pagination-nav {
    padding-top: 0;
  }

  .nav-tabs > li:not(:last-child) > a {
    font-size: 12px !important;
  }
}

/* Extra Large Devices, Extra Wide Screens */
@media only screen and (min-width : 1400px) {
  .nav-tabs > li:not(:last-child) > a {
    font-size: 14px !important;
  }
}
