Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Headers "*"
RewriteEngine on
Options -Indexes

# pass-through if another rewrite rule has been applied already
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]

# Login
RewriteRule ^login[/]?$ /index.php [QSA,END]

# Projects API rewrite rules
RewriteRule ^projects/? /index.php [QSA,END]

## Imaging API related URLs
RewriteRule ^candidates/([0-9]+)/([a-zA-Z0-9_.]+)/images/([a-zA-Z0-9_.-]+)/qc$ candidates/visits/images/qc/QC.php?CandID=$1&VisitLabel=$2&Filename=$3&PrintImageQC=true [L]
RewriteRule ^candidates/([0-9]+)/([a-zA-Z0-9_.]+)/images/([a-zA-Z0-9_.-]+)/format/raw$ candidates/visits/images/format/Raw.php?CandID=$1&VisitLabel=$2&Filename=$3&PrintRawFormat=true [L]
RewriteRule ^candidates/([0-9]+)/([a-zA-Z0-9_.]+)/images/([a-zA-Z0-9_.-]+)/format/thumbnail$ candidates/visits/images/format/Thumbnail.php?CandID=$1&VisitLabel=$2&Filename=$3&PrintThumbnailFormat=true [L]
RewriteRule ^candidates/([0-9]+)/([a-zA-Z0-9_.]+)/images/([a-zA-Z0-9_.-]+)/headers$ candidates/visits/images/headers/Headers.php?CandID=$1&VisitLabel=$2&Filename=$3&PrintHeadersSummary=true [L]
RewriteRule ^candidates/([0-9]+)/([a-zA-Z0-9_.]+)/images/([a-zA-Z0-9_.-]+)/headers/full$ candidates/visits/images/headers/Full.php?CandID=$1&VisitLabel=$2&Filename=$3&PrintHeadersFull=true [L]
RewriteRule ^candidates/([0-9]+)/([a-zA-Z0-9_.]+)/images/([a-zA-Z0-9_.-]+)/headers/(.*)$ candidates/visits/images/headers/Specific.php?CandID=$1&VisitLabel=$2&Filename=$3&Header=$4&PrintSpecificHeader=true [L]


RewriteRule ^candidates/?$ /index.php [QSA,END]  
RewriteRule ^candidates/[0-9]+/?$ /index.php [QSA,END]
RewriteRule ^candidates/[0-9]+/[a-zA-Z0-9_.]+/?$ /index.php [QSA,END]
RewriteRule ^candidates/[0-9]+/[a-zA-Z0-9_.]+/instruments/?$ /index.php [QSA,END]
RewriteRule ^candidates/[0-9]+/[a-zA-Z0-9_.]+/instruments/[a-zA-Z0-9_.]+/?$ /index.php [QSA,END]
RewriteRule ^candidates/[0-9]+/[a-zA-Z0-9_.]+/instruments/[a-zA-Z0-9_.]+/dde/?$ /index.php [QSA,END]
RewriteRule ^candidates/[0-9]+/[a-zA-Z0-9_.]+/instruments/[a-zA-Z0-9_.]+/flags/?$ /index.php [QSA,END]
RewriteRule ^candidates/[0-9]+/[a-zA-Z0-9_.]+/instruments/[a-zA-Z0-9_.]+/dde/flags/? /index.php [QSA,END]
RewriteRule ^candidates/[0-9]+/[a-zA-Z0-9_.]+/qc/imaging/?$ /index.php [QSA,END]
RewriteRule ^candidates/[0-9]+/[a-zA-Z0-9_.]+/dicoms/?$ /index.php [QSA,END]
RewriteRule ^candidates/[0-9]+/[a-zA-Z0-9_.]+/dicoms/[a-zA-Z0-9_.-]+/?$ /index.php [QSA,END]
RewriteRule ^candidates/[0-9]+/[a-zA-Z0-9_.]+/images/?$ /index.php [QSA,END]
RewriteRule ^candidates/[0-9]+/[a-zA-Z0-9_.]+/images/[a-zA-Z0-9_.-]+/?$ /index.php [QSA,END]
