Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Headers "*"
RewriteEngine on
Options -Indexes

# pass-through if another rewrite rule has been applied already
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]

RewriteRule ^login/?$ /index.php [QSA,END]
RewriteRule ^projects/? /index.php [QSA,END]
RewriteRule ^candidates/? /index.php [QSA,END]
