/* Align tabs */
.nav-tabs-loris {
    margin: 0 0 10px 0;
}

/* Selection Filter */
.panel-heading > a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0;
}

.panel-heading > a:hover,
.panel-heading > a:focus,
.panel-heading > a:visited {
    color: #fff;
    text-decoration: none;
}

.btn-group-loris {
    width: 100%;
    text-align: center;
}

.btn-loris {
    width: 100%;
    max-width: 250px;
    margin: 3px 0px;
}