
#wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	}
 
.accButton {	
	width: 800px;
	float: left;
	background: #003366;
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	}
 
.accText {	
	width: 800px;
	float: left;
	background: #95B1CE;
	display: none;
	}
