.toggle_mri_tbl{
  cursor: pointer;
  width: 200px;
  margin-bottom: 5px;
}

#show {
    margin-bottom: -35px;
}


/*
 * Dashboard CSS
 */

.clickable {
    cursor: pointer;
}

.panel-title {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}
.static-col {
    width: 12em;
}
