<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--

  NB: because study and sites elements get merged in a recursive and
  overwriting manner, any time when multiple elements of the same type
  (such as <item/> <item/>) occurs in the study or sites tree, the
  sites tree will overwrite the element entirely instead of simply
  merging - i.e., if the multiple elements are branches, the sites
  branch in its entirety will override the study branch.

-->
<config>
    <tests>
        <!-- Whether or not tests are allowed to modify data.
             should only ever be true on a sandbox, since even though the tests
             try and revert everything, something could potentially go wrong -->
        <testModify>false</testModify>
        <!-- This isn't necessary, but if you want to use a specific candidate to
             check if the instruments work, put the CandID here.. -->
        <!--testCandidate>965327</testCandidate-->
    </tests>

<!-- file paths -->
<paths>
    <imagePath>/PATH/TO/MINC/DATA/ROOT/mri-data/minc/</imagePath>
    <base>%LORISROOT%</base>
    <data>SAME AS imagePath</data>
    <extLibs>/PATH/TO/SMARTY/libs</extLibs>
    <mincPath></mincPath>
    <log>tools/logs/</log>
</paths>

<!-- database settings -->
<database>
    <host>%HOSTNAME%</host>
    <username>%USERNAME%</username>
    <password>%PASSWORD%</password>
    <database>%DATABASE%</database>
    <quatUser>%USERNAME%</quatUser>
    <quatPassword>%PASSWORD%</quatPassword>
    <name>Example database</name>
</database>

<dicom_archive>
    <patientIDRegex>/./</patientIDRegex>
    <patientNameRegex>/./i</patientNameRegex>
    <showTransferStatus>false</showTransferStatus>
</dicom_archive>

<links>
    <link url='dicom_archive.php?' args=''>DICOM Archive</link>
    <link url='mri_browser.php?' args='MRIBrowser'>MRI Browser</link>
    <link url='query_gui.php?' args=''>Data Query GUI</link>
</links>

<!-- mail settings -->
    <mail>
        <headers>
            <From>nobody@example.com</From>
            <Reply-to>nobody@example.com</Reply-to>
            <X-MimeOLE>Produced by LorisDB</X-MimeOLE>
        </headers>
    </mail>

    <!-- www settings -->
    <www>
        <host>HOSTNAME</host>
        <url>https://HOSTNAME/main.php</url>
        <mantis_url></mantis_url>
    </www>

<!-- study variables -->
    <study>
        <!-- Descriptive study title, appears on top of the screen-->
        <title>Example Study</title>
        <!---number of columns the quat table will contain  -->
        <columnThreshold>250</columnThreshold>
        <!-- true/false - use EDC in addition to DoB? -->
        <useEDC>false</useEDC>
        <!-- minimum age in years (0+)-->
        <ageMin>8</ageMin>
        <!-- max subject age in years -->
        <ageMax>11</ageMax>
	<!-- true/false - more than one site in the project? -->
        <multipleSites>true</multipleSites>
        <!-- true/false - use family ID? -->
        <useFamilyID>false</useFamilyID>
	<!-- project's start year -->
        <startYear>2004</startYear>
	<!-- project's end year -->
        <endYear>2007</endYear>

        <PSCID>
	  <!-- PSCID generation method: sequential|random -->
          <generation>user</generation>
          <structure>
            <seq type="alphanumeric" minLength="4"/>
          </structure>
        </PSCID>

        <useProjects>false</useProjects>
        <Projects>
            <project>
             <id>1</id>
             <title>Sample Project</title>
            </project>
            <project>
              <id>2</id>
              <title>Another Sample Project</title>
            </project>
        </Projects>

<!-- Add items to display in the header table for a candidate/session.
     Until a project has been going on for a while, this is most likely
     unnecessary. -->
<!--HeaderTable>
     <parameter_candidate>candidate_comment</parameter_candidate>
</HeaderTable-->
	<!-- number of subprojects in the project - corresponds to the list of subpojects below -->
	<objectives>1</objectives>
	<!-- max number of timepoints per subject (integer)-->
	<visits>1</visits>
	<useScreening>false</useScreening>
	<subprojects>
	    <subproject>
                <id>1</id>
		<title>MRI session</title>
		<options>
		    <useEDC>false</useEDC>
		</options>
	    </subproject>
	    <subproject>
	        <id>2</id>
		<title>Instrument Data</title>
		<options>
		    <useEDC>false</useEDC>
		</options>
	    </subproject>
	</subprojects>

    <!-- defines how visit labels are assigned -->
    <visitLabel subprojectID="1">
        <!-- generation can have either 'user' or 'sequence' to denote user entered or a pre-defined sequence -->
        <generation>user</generation>
        <regex>/^[A-Z0-9]{2}$/i</regex>
        <length>2</length>
        <suggest>V%value%</suggest> <!-- %value% will be substituted for the next unique number -->
    </visitLabel>
    <visitLabel subprojectID="2">
        <!-- generation can have either 'user' or 'sequence' to denote user entered or a pre-defined sequence -->
        <generation>user</generation>
        <regex>/^[A-Z0-9]{2}$/i</regex>
        <length>2</length>
        <suggest>V%value%</suggest> <!-- %value% will be substituted for the next unique number -->
    </visitLabel>
    <ReliabilityInstruments>
    <Instrument>
    <Testname>aosi</Testname>
    <Threshold>0.5</Threshold>
    <Displayname>AOSI</Displayname>
    </Instrument>
    <Instrument>
    <Testname>adi_r_proband</Testname>
    <Threshold>89.5</Threshold>
    <Displayname>ADI-R (Proband)</Displayname>
    </Instrument>
    <Instrument>
    <Testname>adi_r_subject</Testname>
    <Threshold>89.5</Threshold>
    <Displayname>ADI-R (Subject)</Displayname>
    </Instrument>
    <Instrument>
    <Testname>csbs</Testname>
    <Threshold>79.5</Threshold>
    <Displayname>CSBS</Displayname>
    </Instrument>
    <Instrument>
    <Testname>ados_module1</Testname>
    <Threshold>79.5</Threshold>
    <Displayname>ADOS (Module1)</Displayname>
    </Instrument>
    <Instrument>
    <Testname>ados_module2</Testname>
    <Threshold>79.5</Threshold>
    <Displayname>ADOS (Module2)</Displayname>
    </Instrument>
    </ReliabilityInstruments>
    </study>
<!-- end of study definition -->


    <!-- GUI default settings -->
    <gui>
        <css>main.css</css>
        <rowsPerPage>25</rowsPerPage>
        <showTiming>0</showTiming>
        <showPearErrors>0</showPearErrors>
        <showDatabaseQueries>0</showDatabaseQueries>
    </gui>

    <main_menu_tabs>
        <!-- tab name -->
        <tab>
            <link>new_profile</link>
            <label>New Profile</label>
            <access>site</access>
            <permissions>
                <perm>data_entry</perm>
            </permissions>
            <visible>1</visible>
        </tab>
        <tab>
            <link>candidate_list</link>
            <label>Access Profile</label>
            <access>all</access>
            <permissions></permissions>
            <visible>1</visible>
        </tab>
        <tab>
            <link>user_accounts</link>
            <label>User Accounts</label>
            <access>all</access>
            <permissions>
                <perm>user_accounts</perm>
            </permissions>
            <visible>1</visible>
        </tab>

        <tab>
            <link>datadict</link>
            <label>Data Dictionary</label>
            <access>all</access>
            <permissions>
            <perm>data_dict</perm>
            </permissions>
            <visible>1</visible>
        </tab>

         <tab>
          <link>data_team_helper</link>
          <label>Data Team Helper</label>
          <access>all</access>
          <permissions>
              <perm>
              </perm>
          </permissions>
          <visible>1</visible>
        </tab>
        
        <tab>
          <link>violated_scans</link>
          <label>Violated Scans</label>
          <access>all</access>
          <permissions>
          <perm>violated_scans</perm>
        </tab>

        <tab>
          <link>data_integrity_flag</link>
          <label>Data Integrity Flag</label>
          <access>all</access>
          <permissions>
            <perm>
                data_integrity_flag
            </perm>
          </permissions>
          <visible>1</visible>
        </tab>
        <ConflictResolver>
            <MaxConflicts>500</MaxConflicts>
        </ConflictResolver>

</main_menu_tabs>

</config>

