<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--

  NB: because study and sites elements get merged in a recursive and
  overwriting manner, any time when multiple elements of the same type
  (such as <item/> <item/>) occurs in the study or sites tree, the
  sites tree will overwrite the element entirely instead of simply
  merging - i.e., if the multiple elements are branches, the sites
  branch in its entirely will override the study branch.
-->
<config>
    <!-- set to 1 if development environment -->
    <dev>
        <sandbox>0</sandbox>
    </dev>

    <!-- database settings -->
    <database>
        <host>%HOSTNAME%</host>
        <username>%USERNAME%</username>
        <password>%PASSWORD%</password>
        <database>%DATABASE%</database>
        <quatUser>%USERNAME%</quatUser>
        <quatPassword>%PASSWORD%</quatPassword>
        <name>Example database</name>
    </database>

    <CouchDB>
        <SyncAccounts>false</SyncAccounts>
    </CouchDB>

    <!-- study variables -->
    <study>
        <PSCID>
            <!-- PSCID (Study Center ID) generation method possible options: sequential/random/user -->
            <generation>sequential</generation>
            <structure>
                <seq type="siteAbbrev"/>
                <seq type="alphanumeric" minLength="4"/> <!-- Ex: AAA1-->
            </structure>
        </PSCID>
        
        <ExternalID>
            <generation>random</generation>
            <structure>
                <seq type="static">BBB</seq>
                <seq type="numeric" length="4" min='1000' max='9999'/>
            </structure>
        </ExternalID>
        <!--Header table is diplayed on top of instrument list page and instrument pages -->
        <HeaderTable>
            <!--Specify the table as the tag and the field to query as the value inside the tag -->
            <parameter_candidate>candidate_comment</parameter_candidate>
            <candidate>ProbandDoB</candidate>
            <parameter_session>MRI_Done</parameter_session>
        </HeaderTable>
        <!-- defines how visit labels are assigned -->
        <visitLabel subprojectID="1">
            <!-- generation can have either 'user' or 'sequence' to denote user entered or a pre-defined sequence -->
            <generation>user</generation>
            <regex>/^[A-Z0-9]{2}$/i</regex>
            <length>2</length>
            <suggest>V%value%</suggest> <!-- %value% will be substituted for the next unique number -->
            <labelSet>
                <item value="V%value%">V%value%</item>
            </labelSet>
        </visitLabel>
        <visitLabel subprojectID="2">
            <!-- generation can have either 'user' or 'sequence' to denote user entered or a pre-defined sequence -->
            <generation>user</generation>
            <regex>/^[A-Z0-9]{2}$/i</regex>
            <length>2</length>
            <suggest>V%value%</suggest> <!-- %value% will be substituted for the next unique number -->
            <labelSet>
                <item value="V%value%">V%value%</item>
            </labelSet>
        </visitLabel>
        <!-- Instruments for relability module -->
        <ReliabilityInstruments>
            <Instrument>
                <Testname>aosi</Testname>
                <Threshold>0.5</Threshold>
                <Displayname>AOSI</Displayname>
            </Instrument>
            <Instrument>
                <Testname>adi_r_proband</Testname>
                <Threshold>89.5</Threshold>
                <Displayname>ADI-R (Proband)</Displayname>
            </Instrument>
            <Instrument>
                <Testname>adi_r_subject</Testname>
                <Threshold>89.5</Threshold>
                <Displayname>ADI-R (Subject)</Displayname>
            </Instrument>
            <Instrument>
                <Testname>csbs</Testname>
                <Threshold>79.5</Threshold>
                <Displayname>CSBS</Displayname>
            </Instrument>
            <Instrument>
                <Testname>ados_module1</Testname>
                <Threshold>79.5</Threshold>
                <Displayname>ADOS (Module1)</Displayname>
            </Instrument>
            <Instrument>
                <Testname>ados_module2</Testname>
                <Threshold>79.5</Threshold>
                <Displayname>ADOS (Module2)</Displayname>
            </Instrument>
        </ReliabilityInstruments>

         <!-- certification module -->
        <Certification>
            <EnableCertification>0</EnableCertification>
            <CertificationProjects>
                <!-- add project for which certification module should be enabled-->
                <CertificationProject></CertificationProject>
            </CertificationProjects>

            <CertificationInstruments>
                <!--test value=InstrumentName>InstrumentName</test-->
            </CertificationInstruments>
        </Certification>
        <!--This permission allows users from sites to have access to other sites bvl feedback info -->
        <multiSiteEnabledCenters></multiSiteEnabledCenters>

        <!-- Consent module allows addition of consent information in the candidate information page-->
         <ConsentModule>
            <useConsent>false</useConsent>
            <Consent>
                <name>study_consent</name>
                <label>Consent to Study</label>
            </Consent>
        </ConsentModule>

    </study>
    <!-- end of study definition -->

    <gui>
        <showDatabaseQueries>0</showDatabaseQueries>
    </gui>

    <!-- used by _hasAccess in NDB_BVL_Instrument to determine
         what permissions should be required for each instrument
         on a configurable basis. -->
    <instrumentPermissions>
        <!-- By default anyone has permission -->
        <useInstrumentPermissions>false</useInstrumentPermissions>
        <!-- Add one instrument tag for each instrument that is
             having it's permissions configured. If an instrument
             is missing, the default is for users to have access
             -->
        <instrument>
            <!-- Instrument name -->
            <Test_name>sampleInstrument</Test_name>
            <!-- Permission required for accessing instrument.
                 If multiple permissions are added, *any* of
                 them individually will allow access to the
                 instrument -->
            <permission>sampleInstrumentPermissionName</permission>
        </instrument>
        <instrument>
            <Test_name>sampleInstrument2</Test_name>
            <permission>sampleInstrument2PermissionName</permission>
        </instrument>
    </instrumentPermissions>

    <!-- MINC TOOLS PATH -->
    <MINCToolsPath>%MINCTOOLSPATH%</MINCToolsPath>

</config>
