<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--

  NB: because study and sites elements get merged in a recursive and
  overwriting manner, any time when multiple elements of the same type
  (such as <item/> <item/>) occurs in the study or sites tree, the
  sites tree will overwrite the element entirely instead of simply
  merging - i.e., if the multiple elements are branches, the sites
  branch in its entirely will override the study branch.
-->
<config>
    <!-- set to 1 if development environment -->
    <dev>
        <sandbox>0</sandbox>
    </dev>

    <!-- database settings -->
    <database>
        <host>%HOSTNAME%</host>
        <username>%USERNAME%</username>
        <password>%PASSWORD%</password>
        <database>%DATABASE%</database>
        <quatUser>%USERNAME%</quatUser>
        <quatPassword>%PASSWORD%</quatPassword>
        <name>Example database</name>
    </database>

    <CouchDB>
        <dbName>%COUCH_DATABASE%</dbName>
        <hostname>%COUCH_HOSTNAME%</hostname>
        <port>%COUCH_PORT%</port>
        <admin>%COUCH_USERNAME%</admin>
        <adminpass>%COUCH_PASSWORD%</adminpass>
    </CouchDB>

    <!-- study variables -->
    <study>
        <PSCID>
            <!-- PSCID (Study Center ID) generation method possible options: sequential/random/user -->
            <generation>sequential</generation>
            <structure>
                <seq type="siteAbbrev"/>
                <seq type="alphanumeric" length="4"/> <!-- Ex: AAA0001-->
            </structure>
        </PSCID>
        
        <ExternalID>
            <generation>random</generation>
            <structure>
                <seq type="static">BBB</seq>
                <seq type="numeric" length="4" min='1000' max='9999'/>
            </structure>
        </ExternalID>
        <!--Header table is diplayed on top of instrument list page and instrument pages -->
        <HeaderTable>
            <!--Specify the table as the tag and the field to query as the value inside the tag -->
            <parameter_candidate>candidate_comment</parameter_candidate>
            <candidate>ProbandDoB</candidate>
            <parameter_session>MRI_Done</parameter_session>
        </HeaderTable>
        <!-- defines how visit labels are assigned -->
        <visitLabel subprojectID="1">
            <labelSet>
                <item value="V01">V01</item>
                <item value="V02">V02</item>
            </labelSet>
        </visitLabel>
        <visitLabel subprojectID="2">
            <labelSet>
                <item value="V01">V01</item>
                <item value="V02">V02</item>
            </labelSet>
        </visitLabel>

         <!-- certification module -->
        <Certification>
            <EnableCertification>0</EnableCertification>
            <CertificationProjects>
                <!-- add project for which certification module should be enabled-->
                <CertificationProject></CertificationProject>
            </CertificationProjects>

            <CertificationInstruments>
                <!--test value=InstrumentName>InstrumentName</test-->
            </CertificationInstruments>
        </Certification>

    </study>
    <!-- end of study definition -->

    <gui>
        <showDatabaseQueries>0</showDatabaseQueries>
    </gui>

    <!-- used by _hasAccess in NDB_BVL_Instrument to determine
         what permissions should be required for each instrument
         on a configurable basis. -->
    <instrumentPermissions>
        <!-- By default anyone has permission -->
        <useInstrumentPermissions>false</useInstrumentPermissions>
        <!-- Add one instrument tag for each instrument that is
             having it's permissions configured. If an instrument
             is missing, the default is for users to have access
             -->
        <instrument>
            <!-- Instrument name -->
            <Test_name>sampleInstrument</Test_name>
            <!-- Permission required for accessing instrument.
                 If multiple permissions are added, *any* of
                 them individually will allow access to the
                 instrument -->
            <permission>sampleInstrumentPermissionName</permission>
        </instrument>
        <instrument>
            <Test_name>sampleInstrument2</Test_name>
            <permission>sampleInstrument2PermissionName</permission>
        </instrument>
    </instrumentPermissions>

    <!-- MINC TOOLS PATH -->
    <MINCToolsPath>%MINCTOOLSPATH%</MINCToolsPath>

</config>
