html {
  overflow: scroll;
  overflow: auto;
  min-height: 100%;
  margin-bottom: 1px;
}

body {
  background: white;
}

.brainbrowser-wrapper {
  margin-top: 0px;
  display: inline-block;
}

.brainbrowser {
  display: block;
  margin: 20px auto;
}

/* Namespace selectors using .brainbrowser class */
.brainbrowser .tooltip-inner {
  max-width: 400px;
  width: 400px;
}

.brainbrowser .panel-default {
  width: auto;
  min-width: 330px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#sync-volumes-wrapper {
  margin-right: 10px;
}

#capture-slices, #sync-volumes {
  font-size: 12px;
  margin: 0;
  line-height: 2;
}

.volume-container {
  display: block;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.volume-controls {
  max-height: 660px;
  min-width: 300px;
}

.control-heading {
  font-weight: normal !important;
  font-size: 14px;
  margin-bottom: 2px;
  color: black;
  display: inline-block;
  width: auto;
}

.control-inputs {
  margin-right: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #c1c1c1;
  text-align: center;
}

.thresh-input-left {
  margin-right: 270px;
}

.thresh-input-right, .thresh-input-left, .time-inputs, .blend-inputs {
  width: 30px;
}

.ui-slider {
  margin: auto;
}

.slice-series-button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.filename {
  font-weight: 500;
  color: #064785;
  font-size: 16px;
  margin: 0.35em 0;
  padding-right: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}

.intensity-value {
  padding: 1px;
  float: right;
  text-align: center;
  display: inline;
}

.intensity-heading {
  padding: 1px;
  display: inline;
}

#color-map-select {
  float: right;
  margin-right: 20px;
  width: 30%;
  height: 28%;
}

.filename-additional-info {
  display: none;
}

.filename-overlay-additional-info {
  display: none;
}

.arrow {
  padding: 1px;
  float: right;
  top: -25px;
  right: 2px;
}

.filename-overlay {
  font-weight: bold;
  color: #064785;
  font-size: 14px;
  display: block;
  margin: auto;
}

.play-btn {
  float: right;
  font-size: 11px;
}

.play-btn:focus { outline: 0; }

.panel-size {
  color: #fff;
  background-color: #064785;
  border-color: #053a6d;
  font-weight: bold;
}

.overlay-viewer-display {
  float: right;
}

.volume-viewer-display {
  float: right;
  max-width: 100%;
}

.loading-message {
  display: block;
  color: #064785;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
}

