html {
    overflow: scroll;
    overflow: auto;
    -moz-scrollbars-vertical !important;
    min-height: 100%;
    margin-bottom: 1px;
    overflow-y: scroll 30% !important;
}

body {
    background: white;
}

#brainbrowser-wrapper {
    margin-top: 0px !important;
}

#volume-viewer {
    margin-top: 10px;
    margin-left: 20px;
}

#brainbrowser {
    display: block;
    margin: 0 auto;
}

#threshold-slider0 {
    position: absolute;
    left: 68px;
    top: 918px;
    width: 230px;
}

#sync-volumes-wrapper {
    padding: 3px 10px;
}

#capture-slices, #sync-volumes {
    font-size: 12px;
    margin: 0;
    line-height: 2;
}

.volume-container {
    width: 260px;
    height: 100%;
    padding-bottom: 10px;
    display: inline;
    margin: 0 auto;
    overflow: hidden;
    max-height: 1186px;
}

.control-heading {
    font-weight: normal !important;
    font-size: 14px;
    margin-bottom: 2px;
    color: black;
    display: inline-block;
    width: auto;
}

.control-inputs {
    margin-right: 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #c1c1c1;
    text-align: center;

}

.thresh-input-left {
    margin-right: 270px;
}

.thresh-input-right, .thresh-input-left, .time-inputs, .blend-inputs {
    width: 30px;
}

.ui-slider {
    margin: auto;
}

#slice-series-heading0 {
    display: none;
}

.slice-series-button {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#slice-series-buttons0 {
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 130px;
}

#time-val {
    width: 30px;
}

#threshold-time-slider0 {
    position: absolute;
    left: 85px;
    right: 85px;
    top: 120px;
    width: 210px;
}

#global-controls {
    padding: 5px;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline;
    left: 3px;
}

#app-name {
    border: 0;
    background: #064785;
    z-index: 999 display : block;
}

.app-label {
    position: inherit;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 25px;
}

.filename {
    font-weight: bold;
    color: #064785;
    font-size: 16px;
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    padding-right: 0px;
    margin-right: 0px;
}

.intensity-value {
    padding: 1px;
    float: right;
    text-align: center;
    display: inline;
}

.intensity-heading {
    padding: 1px;
    display: inline;
}

#color-map-select {
    float: right;
    margin-right: 20px;
    width: 30%;
    height: 28%;
}

.line-separator {
    height: 1px;
    background: #717171;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
}

.filename-additional-info {
    display: none;
}

.filename-overlay-additional-info {
    display: none;
}

.arrow {
    padding: 1px;
    float: right;
    top: -25px;
    right: 2px;
}

.filename-overlay {
    font-weight: bold;
    color: #064785;
    font-size: 14px;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.play-btn {
    float: right;
    font-size: 11px;
}

.panel-size {
    color: #fff;
    background-color: #064785;
    border-color: #053a6d;
    font-weight: bold;
}

.panel-default {
    width: auto;
    min-width: 330px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.volume-viewer-display, .overlay-viewer-display {
    float: right;
}
