
td {
    border-bottom: 1px solid #eee;
}

.track-handle .track-content {
  padding: 5px;
}

.yAxis-geneName {
  margin: 5px;
}

.snps:not(:root) {
  overflow: inherit;
}

.snps rect.focus {
  fill: pink;
  fill-opacity: 1;
  outline: none;
}

.snps rect {
  fill: #053665;
  stroke: #053665;
  stroke-width: 1px;
}
