#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	# Remove the files which later dh_link would create symlinks for
	rm debian/*/usr/share/loris/htdocs/js/shims/excanvas.js
	rm debian/*/usr/share/loris/modules/brainbrowser/js/jquery.mousewheel.min.js
	# Cleanup unneeded VCS files to shut lintian up
	find debian/* -iname .gitignore -delete


