#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	# We need to remove the project directory created by composer install, which we'll
	# be replacing with a symlink to /var/lib/loris when we create the project here in
	# the future.
	dh_install
	(cd debian/loris/usr/share/loris && composer install --no-dev && rm -rf project)
	# Remove the files which later dh_link would create symlinks for
	rm debian/*/usr/share/loris/htdocs/js/shims/excanvas.js
	rm debian/*/usr/share/loris/modules/brainbrowser/js/jquery.mousewheel.min.js
	# Cleanup unneeded VCS files to shut lintian up
	find debian/* -iname '.git*' -delete

	tools/create-project.sh debian/loris/var/lib/loris
	mkdir -p debian/loris-standalone/etc/apache2/sites-available
	sed -e 's,%LORISROOT%,/usr/share/loris,g' \
		-e 's,%LOGDIRECTORY%,/var/log/apache2,g' \
		docs/config/apache2-site > debian/loris-standalone/etc/apache2/sites-available/666-loris.conf


override_dh_fixperms:
	dh_fixperms -Xvar/lib/loris/smarty/templates_c
