# This file still contains classes called mri* 
# because it is designed to match the viewSession page
# css classes specific to the Imaging Browser.

.clickable {
    cursor: pointer;
}
.mri-righttable {
#     display: none;
}
.panel-title {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}
.views {
    margin-right: 10px;
    margin-top: -2px;
}
.mri-second-row-panel{
   margin-left: 2px;
   margin-top: 7px;
   margin-bottom: 0px;

}
.mri-third-row-panel{
   margin-left: 2px;
   margin-top: 7px;
   margin-bottom: 7px;
}

/* 
  Color coding Methylation-tab aacording to the display convention of 
  the wgEncodeHaibMethyl450 track at the UCSC Genome-Browser
*/
td.cpgOrange, td.cpgOrange a {
  color: orange;
}
td.cpgPurple, td.cpgPurple a {
  color: purple;
}
td.cpgBlue, td.cpgBlue a{
  color: blue;
}
td.cpgBlack, td.cpgBlack a {
  color: black;
}
