.img-checkpic {
    height: 180px;
    border: 0;
}

/******* Control Panel *******/

.div-cpanel {
    position: fixed;
    width: 180px;
    border: 0;
}

td.sidenav {
    border-right: 0;
}

.td-cpanel-fake {
    border-right: solid #6183b3 2px;
}

.table-cpanel-fake {
    width: 160px;
}

ul {
    margin: 0;
    padding-left: 12px;
    list-style-type: none;
}

dl {
    margin-top: 0;
    margin-bottom: 8px;
    padding-top: 5px;
}

.img-navigation-array {
    border: 0;
    width: 12px;
    height: 12px;
    vertical-align: text-top;
}

.img-pending {
    width: 12px;
    height: 12px;
}

.div-controlpanel-bottom {
    margin-left: 12px;
    padding-bottom: 50px;
}

.dt-qc-status {
    margin-bottom: 12px;
}

/***** Header table *******/
h3 {
    margin-top: 25px;
}

.newdata {
    color: red;
}

.clickable {
    cursor: pointer;
}

.mri-righttable {
    display: none;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.views {
    margin-right: 10px;
    margin-top: -2px;
}

.mri-second-row-panel {
    margin-left: 2px;
    margin-top: 7px;
    margin-bottom: 0;

}

.mri-third-row-panel {
    margin-left: 2px;
    margin-top: 7px;
    margin-bottom: 7px;

}

.feedback-text {
    color: #246EB6;
}

.feedback-text:hover {
    color: white;
}

.visit-level-feedback {
    margin-top: 9px;
    margin-bottom: 9px;
}

.visit-level-feedback>a:hover .feedback-text {
    color: white;
}

.btn-volume-viewer {
    color: #246EB6;
    background-color: white;
    border-color: #246EB6;
    margin-bottom: 3px;
}

.btn-volume-viewer:hover {
    background-color: #246EB6;
    color: white;
    border-color: #246EB6;
    margin-bottom: 3px;
}

.header-info {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.static-info {
    color: #064785;
    text-decoration: none;
}

.tooltip-inner {
  max-width: none;
}
