.filter-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

@media screen and (max-width: 767px) {
    .filter-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
