body {
   	margin: 5px 10px 10px 5px;
	background-color: ligthgrey; 
	font-family: verdana, sans-serif;
	font-size: 1.1em;
}


th, td, input, textarea, select {
    font-family: verdana, sans-serif;
    font-weight: normal;
}

ul {
	margin-left: 25px;
    }

em {
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
    }

/* anchor tags */
	a:link, a:visited, .ui-widget-content a:link, .ui-widget-content a:visited {
	color: #08245b; 
	text-decoration: none;
 	}
a:active, .ui-widget-content a:active {
	color: #f00;
	text-decoration: none;
    }
a:hover, .ui-widget-content a:hover {
	color: #666;
/*	text-decoration: underline;*/
    }


/* headers */
h1, h2, h3 {
	margin-bottom: 0;
	font-weight: bold;
    }
h1 {
	margin-top: 5px;
	color: #08245b;
	font-size: 110%;
    }
h2 {
	margin-top: 15px;
	color: #666;
	font-size: 100%;
    }
h3 {
	margin-top: 35px;
	color: #08245b;
	font-size: 90%;
    }

/* table headers */
th {
	font-weight: bold;
    }

th.banner {
	background: #08245b;
	color: #fff;
    	border-style: solid;
    	border-color: #08245b;
    	border-width: 1px;
    	border-radius: 4px;
    	-webkit-border-radius: 4px;
    }
th.banner a:link, th.banner a:visited {
	color: #fff;
	text-decoration: none;
    }
th.banner a:hover {
	color: #fff;
	text-decoration: underline;
    }

/* tables */
table.std {
	border: solid #08245b 2px;
	background-color: #efefef;
	margin: 20px 0px 20px 0px;
}
table.list, table.tbl {
/*	background-color: #a5cbf7;*/
	background-color: none;
    }

table.list th, table.tbl th, table.std th  {
    text-align: center;
    border-width: 1px;
    border-style: outset;
	font-weight: normal;
    }
table.list th, table.tbl th, table.std th {
/*    border-color: #D1D1CD;*/
	background-color: #08245b; 
	color: #fff;
    }
table.exclusion th {
    	border: 1px solid #000;
    }
table.std th {
    	font-weight: bold;
        padding: 3px;
    	border-width: 1px;
    	border-radius: 4px;
    	-webkit-border-radius: 4px;
    	-moz-border-radius: 4px;
    }
table.list td, table.tbl td {
	background-color: #fff;
    }
table.list td {
    padding: 2px;
    text-align: center;
    }

/* tabbed boxes */
td.tabsp {
	border-bottom: solid #ccc 1px;
    }
td.tabox {
    /*
	background-color: #d3d3e1;
    */
    background-color: white;
    /*
	border-left: solid #ccc 2px;
	border-right: solid #ccc 2px;
	border-bottom: solid #ccc 2px;

        border-width: 1px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        */
    padding: 8px;
    }

/* Message styles */
.error {
	color: #f00;
    list-style: none;
    font-size: 1.4em;
    font-weight: bold;
}

/* context help
.pagetitle h1 {
    font-weight: bold;
    }
*/
.pagetitle p {
    line-height: 1.5em;
    }
.date {
    font-style: italic;
    }
.snippet {
    color: #666;
    }

/* exclusion registered types */
.pending {
    color: #CC9900;
    }
.exclusionary {
    color: #CC0000;
    }
.MI {
    color: #003399;
    }
/* exclusion, currently raised types */
.pendingType {
    background-color: #FFCC00;
    }
.exclusionaryType {
    background-color: #CC0000;
    }
.MIType {
    background-color: #003399;
    color: #FFFF00;
    }


/* fancy table for mri_browser and dicom archive visit list */
table.fancytable, table.listColorCoded {
  margin: 1em 1em 1em 0;
  background: #DDD;
  border-collapse: collapse;
  text-align: center;
}
table.fancytable tr:hover, table.listColorCoded tr:hover {
   color: #efefef;
   background: #bbb; /*lightgrey;*/
}

table.fancytable tr.nohover:hover, table.listColorCoded tr.nohover:hover {
    color: inherit;
    background: inherit;
}
table.fancytable th, table.listColorCoded th {
/*  background:darkgrey;*/
 /* background-color: #989; */
  background-color: #03B;
  color: black;
  padding: 0.3em;
  border-right:2px groove silver;
  border-bottom:1px groove #999999;
} 
table.fancytable th a, table.fancytable th, table.listColorCoded th a, table.listColorCoded th {
    color: white;

}
table.fancytable td, table.listColorCoded td {
  padding: 0.3em;
  border-right:2px groove silver;
  border-bottom:1px groove #999999;

  border-left: 1px groove silver;
  border-top: 1px groove silver;

}
table.fancytable th:hover, table.listColorCoded th:hover {
  /*background: #efefef; */
  background: #191919;
  color: white;
  text-align: center;
}
table.fancytable caption, table.listColorCoded caption {
  margin-left: inherit;
  margin-right: inherit;
}

/* fancy table with ALIGN LEFT  */
table.fancytableleft {
  margin: 1em 1em 1em 0;
  background: #FF;
  border-collapse: collapse;
  text-align: left;
}
table.fancytableleft tr:hover {
   background: snow !important;
}
table.fancytableleft th, table.fancytableleft td {
  border: 1px silver solid;
  padding: 0.3em;
}
table.fancytableleft th {
  background: #999999;
  text-align: left;
}
table.fancytableleft caption {
  margin-left: inherit;
  margin-right: inherit;
}


/* form elements */

.button
{
   font-size:11px;
   font-family:Verdana,sans-serif;
   color:white;
   background-color:#08245b;
   border-style:ridge;
   border-color:#FFFFFF;
   border-width:1px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   cursor: pointer;
}

.button:hover {
    opacity: 0.5;
    border: 1px solid black;

   /*background-color: #9a5; /*#989;*/
}

input.text {
  font-family:TrebuchetMS;
  font-size:9pt;
  font-weight:bold;
  background-color:336699;
  border-color:336699;
  border-style:inset;
  border-width:2px;
  color: #FFFFFF;
}

td.red {
background: #D29E93;
color:black;
padding:3px;
text-align:left;
vertical-align:top;
border-bottom: 1px solid #CCCCCC;
}

td.green {
background: #789A99;
color:black;
padding:3px;
text-align:left;
vertical-align:top;
border-bottom: 1px solid #CCCCCC;
}

tr.directentry {
    background: #BDDDBD;
}

table.instrument tbody tr:nth-child(even) {
    background: #BCC6CC;
   /* background: #E5E4E2; */
}

table.instrument tbody tr:nth-child(odd) {
    background: #98AFC7;
    /* background: #CCDDFF;
    background: #D6FFFF; */
}

.instrument tbody tr td, .instrument tbody tr th {
    padding: 10px; /*
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    */
}
table.instrument_review tbody tr:nth-child(even) {
    background: #BCC6CC;
}

table.instrument_review tbody tr:nth-child(odd) {
    background: #98AFC7;
}

.instrument_review tbody tr td, .instrument_review tbody tr th {
    padding: 10px;
    font-size: 0.9em;
}

#goback {
    padding-top: 5px;
    font-size: 1.1em;
}
#savecontinue {
    padding-top: 5px;
    float: right;
    font-size: 1.1em;
}

#finalize {
    padding-top: 5px;
    
    float: right;
    font-size: 1.1em;
}

.instrument tbody tr td, .instrument tbody tr th {
    padding: 10px; /*
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    */
}

/* Go back button on the last page */
input[type=button], button#complete {
    font-size: 1.1em;
    padding-top:5px;
}

.note {
    text-align: center;
}

#complete {
    float: right;
}
#goback {
    padding-top: 5px;
    font-size: 1.1em;
}
#savecontinue {
    padding-top: 5px;
    float: right;
    font-size: 1.1em;
}

#finalize {
    padding-top: 5px;
    
    float: right;
    font-size: 1.1em;
}

.unanswered {
    color: red;
}
