/*
 * suggested order of CSS properties
 *
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

body {
   	margin: 5px 10px 10px 5px;
	background-color: ligthgrey; 
	font-family: verdana, sans-serif;
	font-size: 70%;
}


th, td, input, textarea, select {
    font-family: verdana, sans-serif;
    font-weight: normal;
}

ul {
	margin-left: 25px;
    }

em {
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
    }

/* anchor tags */
	a:link, a:visited, .ui-widget-content a:link, .ui-widget-content a:visited {
	color: #08245b; 
	text-decoration: none;
 	}
a:active, .ui-widget-content a:active {
	color: #f00;
	text-decoration: none;
    }
a:hover, .ui-widget-content a:hover {
	color: #666;
/*	text-decoration: underline;*/
    }


/* control panel */
.ControlPanelItem {
    text-align: left;
    vertical-align: middle;
	text-indent: 5px;
}
h3.controlPanelSection, td.controlPanelSection {
    	font-family: verdana, sans-serif;
	font-size: 100%;
	padding-top: 1.0em;
	padding-bottom: 0.5em;
    }

/* headers */
h1, h2, h3 {
	margin-bottom: 0;
	font-weight: bold;
    }
h1 {
	margin-top: 5px;
	color: #08245b;
	font-size: 110%;
    }
h2 {
	margin-top: 15px;
	color: #666;
	font-size: 100%;
    }
h3 {
	margin-top: 35px;
	color: #08245b;
	font-size: 90%;
    }

/* table headers */
th {
	font-weight: bold;
    }

th.banner {
	background: #696; /*green*/ /*633355; /*333399;/*#08245b;*/
	color: #fff;
    	border-style: solid;
    	border-color: #696; /*633355; /*#08245b;*/
    	border-width: 1px;
    	border-radius: 4px;
    	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    }
th.banner a:link, th.banner a:visited {
	color: #fff;
	text-decoration: none;
    }
th.banner a:hover {
	color: #fff;
	text-decoration: underline;
    }

/* tables */
table.std {
	border: groove #fff; /*#339 /*#08245b*/1px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
	background-color: #f5f5fd; /*#efefef;*/
	margin: 20px 0px 20px 0px;
}
table.list, table.tbl {
/*	background-color: #a5cbf7;*/
	background-color: none;
    }

table.list th, table.tbl th, table.std th  {
    text-align: center;
  /*  border-width: 1px;
border-color: #339;
    border-style: outset;
	font-weight: normal;*/
    }
table.list th, table.tbl th, table.std th {
/*    border-color: #D1D1CD;*/
	background-color: #696; /*#886699; /*#08245b; */
	color: #fff;
    }
table.exclusion th {
    	border: 1px solid #000;
    }
table.std th {
    	font-weight: bold;
        padding: 3px;
    	border-width: 1px;
    	border-radius: 4px;
    	-webkit-border-radius: 4px;
    	-moz-border-radius: 4px;
    }
table.list td, table.tbl td {
	background-color: #fff;
    }
table.list td {
    padding: 2px;
    text-align: center;
    }

/* tabbed boxes */
td.tabsp {
	border-bottom: solid #ccc 1px;
    }
td.tabox {
    /*
	background-color: #d3d3e1;
    */
    background-color: /*#f5f5fd;*/  #EEF;
    /*
	border-left: solid #ccc 2px;
	border-right: solid #ccc 2px;
	border-bottom: solid #ccc 2px;

        border-width: 1px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        */
    padding: 10px;
    }
td.taboxSidenav  
{
    background-color:#f5f5fd;
    padding: 10px;
vertical-align:top;
}

th.crumbBanner {
        color: #fff;
       /* background: #339; /*green*/ /*633355; /*333399;/*#08245b;
        border-style: solid;
        border-color: #339; /*633355; /*#08245b;
        border-width: 1px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
*/
}
/* Message styles */
.error {
	color: #B31A17; /* #994E4A;*/  
    list-style: none;
    font-size: 1.4em;
    font-weight: bold;
}

/* context help
.pagetitle h1 {
    font-weight: bold;
    }
*/
.pagetitle p {
    line-height: 1.5em;
    }
.date {
    font-style: italic;
    }
.snippet {
    color: #666;
    }

/* exclusion registered types */
.pending {
    color: #CC9900;
    }
.exclusionary {
    color: #CC0000;
    }
.MI {
    color: #003399;
    }
/* exclusion, currently raised types */
.pendingType {
    background-color: #FFCC00;
    }
.exclusionaryType {
    background-color: #CC0000;
    }
.MIType {
    background-color: #003399;
    color: #FFFF00;
    }


/* fancy table for mri_browser and dicom archive visit list */
table.fancytable, table.listColorCoded {
  margin: 1em 1em 1em 0;
  background: #efefef; /*#DDD;*/
  border-collapse: collapse;
  text-align: center;
}
table.docRepository {
  text-align: left;

}
table.docRepository th {
text-align: left;

}

table.fancytable tr:hover, table.listColorCoded tr:hover {
   /*color: #efefef;*/
   background: #C8D5FD; /*#99c;/*#bbb; /*lightgrey;*/
}

table.fancytable tr.nohover:hover, table.listColorCoded tr.nohover:hover {
    color: inherit;
    background: inherit;
}
table.fancytable th, table.listColorCoded th {
/*  background:darkgrey;*/
 /* background-color: #989; */
  background-color: #696; /*#03B;*/
  color: black;
  padding: 0.4em;
  border-right:2px groove #fff; /*silver*/
  border-bottom:1px groove #fff; /*#999*/
} 
table.fancytable th a, table.fancytable th, table.listColorCoded th a, table.listColorCoded th {
    color: white;

}
table.fancytable td, table.listColorCoded td {
  padding: 0.3em;
  border-right:2px groove #fff;;
  border-bottom:1px groove #fff;
  border-left: 1px groove #fff;
  border-top: 1px groove #fff;

}
table.fancytable th:hover, table.listColorCoded th:hover {
  /*background: #efefef; */
  /*background: /*#191919;*/
  color: white;
  text-align: center;
}
table.fancytable caption, table.listColorCoded caption {
  margin-left: inherit;
  margin-right: inherit;
}

/* fancy table with ALIGN LEFT  */
table.fancytableleft {
  margin: 1em 1em 1em 0;
  background: #FF;
  border-collapse: collapse;
  text-align: left;
}
table.fancytableleft tr:hover {
   background: snow !important;
}
table.fancytableleft th, table.fancytableleft td {
  border: 1px silver solid;
  padding: 0.3em;
}
table.fancytableleft th {
  background: #999999;
  text-align: left;
}
table.fancytableleft caption {
  margin-left: inherit;
  margin-right: inherit;
}


/* form elements */

.button
{
   font-size:11px;
   font-family:Verdana,sans-serif;
   color:white;
   background-color: #816E91; /*#44c; /*#886699; purple*/  /*#6666cc; /*#669966; /*green*/ /*#08245b;*/
   border-style:ridge;
   border-color: #816E91; /*#339; /*#FFFFFF;*/
   border-width:1px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   cursor: pointer;
}

.button:hover {
   opacity: 0.6;
 /*    background-color: #B6ABBF; /*#99c; /*#9a5; /*#989;*/
    border: 1px solid #B6ABBF;;
}

input.text {
  font-family:TrebuchetMS;
  font-size:9pt;
  font-weight:bold;
  background-color:336699;
  border-color:336699;
  border-style:inset;
  border-width:2px;
  color: #FFFFFF;
}

td.red {
background: #D29E93;
color:black;
padding:3px;
text-align:left;
vertical-align:top;
border-bottom: 1px solid #CCCCCC;
}

td.green {
background: #789A99;
color:black;
padding:3px;
text-align:left;
vertical-align:top;
border-bottom: 1px solid #CCCCCC;
}

table.data {
    border: none; /*thin solid black;*/
}
.data tr td.male {
    background: #DEF;
}

.data tr td.female {
    background: #FDF;
}

.data tr td.male.total {
    background: #DEF;
    font-weight: bold;
}
.data tr td.female.total {
    font-weight: bold;
    background: #FDF;
}
.data tr td.subtotal {
    background: #efefef/*#DDD;*/
}

.data tr td.complete {
    background: #DFD;
}
.data tr td.incomplete, .data tr td.no_scan, .data tr td.no_scan.total {
    background: #FDD;
}
.data tr td.partial_run, .data tr td.partial_run.total {
    background: #FFD; /*rgb(217, 217, 119); */
}
.data tr td.complete.total {
    background: #DFD; 
    font-weight: bold;
}
.data tr td.incomplete.total {
    background: #FDD;
    font-weight: bold;
}
.data tr td.total {
    font-weight: bold;
    background: #DDD;
}

.data tr th {
    background: #44c; /*#08245B;
    /* color: #CCC; */
    color: white;
    padding: 3px;
}
.data tr td {
    background: white;
}
.controlPanel li {
    list-style-position:inside;
    list-style-type: none;
    white-space: nowrap; 
    margin-top: 4px;
}
.controlPanel {
    padding: 0px;
    margin-left: 5px;
    margin-top: 5px;
}

table.mainlayout {
    border-spacing: 0px;
}

td.sidenav {
    border-right: solid #816E91; /*#339 /*#08245B*/ 2px;
}

.navigationBar {
    padding-left: 0;
    margin-left: 0;
    padding-top: 0;
    margin-top: 0;
}
.navigationRow, .ui-tabs-nav {
    margin: 0px;
    padding: 0px;
    border-bottom: 3px solid #B6ABBF /*#99c*/ !important;
    text-align: left;
}
.navigationButtons a, .controlPanel li a:hover, .ui-tabs-nav li a {
	color: #fff !important;
}
.navigationButtons.active, .controlPanel li:hover, .ui-tabs-nav li.ui-state-active {
	/*opacity: 0.5;*/
    background: #B6ABBF; /*#339*/ !important; 
	border-color: #B6ABBF;
    /* background: green; */
}
.navigationButtons, .ui-tabs-nav li {
    float: left !important;
    list-style: none !important;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    background: #816E91; /*#44c; /*#339; /*#08245B*/ !important;
    /* background: #989; */
	color: #fff !important;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-style-bottom: none;
    border-color: #816E91; /*#339; /*#989;*/
/*    border-color: #9896FF;*/
    border-width: 1px;
    /* border-radius: 4px; */
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
}
.navigationButtons:hover, .ui-tabs-nav li:hover {
	/*opacity: 0.5;*/
	border-color: #B6ABBF; /*#47F;*/
	background-color: #B6ABBF; 
}
.navigationButtons a:active {
    background-color: #9a5;
}
h2.statsH2 {
	color: #000;
    padding-bottom: 5px;
}
.statsParagraph {
	width: 70%;
}

.ui-widget-header {
    border: none !important;
}
.ui-widget-content, .ui-widget-header {
    background: inherit !important;
    color: inherit !important;
}

/* DQG jQuery things */
.selected {
   /* background-color:#08245b; */
   background-color:#5874Ab; */
   color:white;
   cursor: pointer;
}

.fieldsSelect{
   cursor: pointer;
}
.toggle_mri_tbl{
  cursor: pointer;
  width: 140px;
  height: 10px;
  padding-bottom: 5px;
}
