dt:after {
    content: ':';
    font-weight: bold;
}

dd {
    margin-left: 2em;
}

select, option, input {
    color: black;
}

h4 {
    color: black;
    background: inherit; /*#064785; */
}

.search {
    padding-top: 20px;
}

/*
 *	CSS for the filter builder
 */
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.firstUL {
	padding-left: 0px
}
.instrumentLabel {
    word-break: break-all;
}

/*
 *  CSS for managed saved query filters
 */
.savedQueryTree {
    margin-left: 0px;
}