.form-control-feedback.glyphicon-eye-close,
.form-control-feedback.glyphicon-eye-open  {
    pointer-events: initial;
    cursor: pointer;
    color: grey;
}

.study-description {
    display: flex;
    flex-direction: row;
}

.stats-phone {
    position: relative;
    width: 300px;
    margin: auto;
}

.stats-screen {
    position: absolute;
    left: 8%;
    top: 10%;
    width: 55%;
    height: 60%;
}

@media screen and (max-width: 768px) {
    .study-description {
        flex-direction: column-reverse;
    }
}